@charset "utf-8";

/* 헤더 */
header {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 60px;
  z-index: 9999;
  background-color: #fff;
}
header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 160px;
}
.logo h1 {
  font-size: 40px;
  text-align: center;
  line-height: 40px;
  color: #34c987;
}
.header-menu {
  width: 500px;
}
.header-menu ul {
  display: flex;
  justify-content: space-between;
}
.header-menu ul li a:hover {
  color: #34c987;
}
.log-in {
  width: 120px;
}
.log-in ul {
  display: flex;
  justify-content: space-around;
}
.log-in ul li {
  border-right: 1px solid #000;
  padding-right: 4.65px;
}
.log-in ul li:last-child {
  border-right: 0;
}
.log-in ul li a:hover {
  color: #34c987;
}

/* ================================================== */
/* detailmain01 */
.detailmain01 {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  background-color: #f8f8f8;
}
.reservation-txt {
  position: relative;
  display: block;
  width: 50%;
}
.titlename {
  position: relative;
  display: inline-block;
  font-size: 3.125vw;
  margin-top: 35%;
  margin-left: 25%;
  font-weight: 600;
  color: #222;
}
.explane {
  position: relative;
  display: block;
  font-size: 16px;
  margin-left: 25%;
  margin-top: 5%;
  line-height: 1.5;
  color: #333;
}
.reservation-btn {
  position: relative;
  display: block;
  padding: 20px 70px;
  margin-left: 25%;
  margin-top: 50px;
  margin-bottom: 20%;
  background-color: #34c987;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.reservation-btn a {
  color: #fff;
}
.detail-img {
  position: relative;
  display: block;
  width: 50%;
}
.detail-img img {
  position: relative;
  display: block;
  right: 0;
  bottom: 0;
  padding: 240px 0 0 0;
  margin-left: 10%;
}

/* detailmain02 */
.detailmain02 {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
}
.detail02-img {
  position: relative;
  display: block;
  width: 50%;
}
.detail02-img img {
  position: relative;
  display: block;
  left: -5%;
}
.onfoot-txt {
  position: relative;
  display: inline-block;
  color: #222;
  width: 35%;
  margin-left: 4%;
}

.titlename02 {
  position: relative;
  display: inline-block;
  font-size: 3.125vw;
  margin-top: 35%;
  margin-left: 10%;
  font-weight: 600;
  color: #222;
}
.explane02 {
  position: relative;
  display: block;
  font-size: 16px;
  margin-top: 5%;
  margin-left: 10%;
  line-height: 1.5;
  color: #333;
}
.explane002 {
  position: relative;
  display: block;
  font-size: 16px;
  margin-top: 30px;
  margin-left: 10%;
  line-height: 1.5;
  color: #333;
}
span {
  font-size: 20px;
  font-weight: 700;
  color: #34c987;
}
.reservation-btn02 {
  position: relative;
  display: block;
  padding: 20px 70px;
  margin-top: 10%;
  margin-bottom: 30%;
  margin-left: 10%;
  background-color: #34c987;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.reservation-btn02 a {
  color: #fff;
}

/* detailmain03 */
.detailmain03 {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  background-color: #f8f8f8;
}
.titlename03 {
  position: relative;
  display: inline-block;
  font-size: 3.125vw;
  margin-top: 30%;
  margin-left: 25%;
  font-weight: 600;
  color: #222;
}
.reservation-btn03 {
  position: relative;
  display: block;
  padding: 20px 70px;
  margin-left: 25%;
  margin-top: 50px;
  margin-bottom: 30%;
  background-color: #34c987;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.reservation-btn03 a {
  color: #fff;
}
.car-txt {
  position: relative;
  display: block;
  width: 45%;
}
.detail-img03 {
  position: relative;
  margin-left: 10%;
  margin-top: 15%;
  width: 40%;
}
.detail-img03 img {
  position: absolute;
  bottom: 0;
  right: 0;
}
.explane03 {
  position: relative;
  display: block;
  font-size: 16px;
  margin-left: 25%;
  margin-top: 5%;
  line-height: 1.5;
  color: #333;
}

/* 서비스이용 가능지역 */
.area {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}
.inner {
  width: 80%;
  display: flex;
}
.area-txt {
  position: relative;
  display: block;
  width: 60%;
  margin-left: 15px;
}
.area-explane {
  margin-left: 0;
  margin-top: 7%;
  line-height: 1.2;
}
.areatitle {
  position: relative;
  display: inline-block;
  font-size: 2.6042vw;
  margin-top: 30%;
  font-weight: 600;
  color: #222;
}
.area-info {
  position: relative;
  display: block;
  margin-top: 7%;
  line-height: 2;
  color: #333;
}
.area-info > i {
  float: left;
}
.area-map {
  position: relative;
  display: block;
  width: 50%;
  margin-top: 10%;
  margin-bottom: 5%;
}

.area-map img {
  width: 60%;
  margin-left: 20%;
}

/* 예약방법 슬라이드 */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 40%;
  object-fit: cover;
}

.reservation-method {
  position: relative;
  display: block;
  background-color: #f3f3f3;
}
.reservation-method .inner {
  position: relative;
  display: block;
}
.img {
  position: relative;
  display: flex;
  /* background-color: yellowgreen; */
  width: 40%;
  /* height: 100%; */
  justify-content: center;
  align-items: end;
}
.img img {
  position: relative;
  display: inline-block;
  /* background-color: yellow; */
  width: 80%;
  padding: 100px 0 0 0;
  margin-left: 30%;
}
.reservation-box {
  position: relative;
  display: block;
  width: 60%;
  margin-left: 30px;
}
.reservation-box img {
  width: 80%;
}
.top-txt {
  position: absolute;
  display: block;
  /* background-color: #fff; */
  text-align: left;
  z-index: 9999;
  top: 7%;
  left: 7%;
  line-height: 1.3;
  font-size: 16px;
}
.top-txt span {
  font-size: 40px;
}
.bt-txt {
  position: relative;
  display: block;
  /* background-color: tomato; */
  margin-right: 23%;
  text-align: right;
  font-size: 15px;
  line-height: 1.3;
  color: #333;
}
.bt-txt span {
  font-size: 25px;
  color: #333;
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: 37%;
  right: auto;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: 6%;
  left: auto;
}

/* 예약, 전화예약 버튼 */
.bottom-btn {
  position: relative;
  display: block;
}
.bottom-btn .inner {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

/* 왼 */
.left-btn {
  position: relative;
  width: 47%;
  height: 8.8542vw;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 20px;
  background-color: #34c987;
}
.left-btn a {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.left-txt {
  position: relative;
  display: block;
  font-size: 25px;
  font-weight: 800;
  width: 50%;
  height: auto;
  text-align: right;
}
.left-txt p {
  font-size: 25px;
}
.left-img {
  position: relative;
  display: block;
  width: 50%;
  /* background-color: yellowgreen; */
  margin-left: 5%;
}
.left-img img {
  width: 40%;
}
/* 오 */
.right-btn {
  position: relative;
  display: block;
  width: 47%;
  height: 8.8542vw;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 20px;
  background-color: #333;
}
.right-btn a {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.right-txt {
  position: relative;
  display: block;
  font-size: 20px;
  width: 40%;
  height: auto;
  margin-left: 20%;
  text-align: left;
  line-height: 1.2;
}
.right-txt span {
  font-size: 25px;
  font-weight: 800;
}
.right-img {
  position: relative;
  display: block;
  width: 30%;
}
.right-img img {
  width: 45%;
}
/* footer */
footer {
  position: relative;
  display: block;
  background-color: #333;
  width: 100%;
  height: 300px;
  min-width: 320px;
}
footer .inner {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;
  color: #9d9d9d;
}

.footer-title {
  position: relative;
  display: block;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  color: #34c987;
  font-weight: 800;
  margin-top: 40px;
}
.sns-icon {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-top: 50px;
}

.sns-icon img {
  width: 35px;
}
.sns-icon img:nth-child(2) {
  margin: 0 30px;
}
.email-number {
  position: relative;
  display: flex;
  width: 40%;
  color: #fff;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  font-weight: 200;
}

.copy {
  position: absolute;
  display: block;
  text-align: center;
  color: #fff;
  font-weight: 100;
  bottom: 20px;
}
.reservation-method-title {
  display: none;
}

@media all and (max-width: 1024px) {
  /* .titlename {
    margin-top: 45%;
  } */
  .explane {
    font-size: 15px;
    margin-top: 4%;
  }
  .explane02 {
    font-size: 15px;
    margin-top: 5%;
  }
  .explane002 {
    font-size: 15px;
    margin-top: 4%;
  }
  .reservation-btn {
    padding: 15px 55px;
  }
  /* .onfoot-txt {
    position: relative;
    display: inline-block;
    color: #222;
    width: 50%;
    margin-left: 4%;
} */
  .top-txt {
    font-size: 15px;
  }
  .top-txt span {
    font-size: 30px;
  }

  .bt-txt span {
    font-size: 18px;
  }
  .bt-txt {
    font-size: 15px;
  }

  .bottom-btn .inner {
    justify-content: space-around;
    max-width: 800px;
  }
  .left-txt p {
    font-size: 16px;
    font-weight: 600;
  }
  .right-txt p {
    font-size: 16px;
    font-weight: 100;
  }
  .right-txt span {
    font-size: 20px;
    font-weight: 700;
  }
  .area-explane {
    font-size: 15px;
  }
  .area-info {
    font-size: 15px;
    line-height: 1.7;
  }
}
@media all and (max-width: 839px) {
  .explane {
    white-space: nowrap;
  }
}
@media all and (max-width: 768px) {
  .inner {
    width: 650px;
  }
  .reservation-txt {
    width: 60%;
  }
  .detailmain01 {
    flex-direction: column;
  }
  .detail-img {
    width: 60%;
    margin-left: 53%;
    margin-top: -15%;
  }
  .detail-img img {
    padding: 0;
    width: 70%;
  }

  .reservation-btn {
    padding: 10px 40px;
  }
  .reservation-btn {
    margin-bottom: -15%;
    margin-left: 20%;
  }
  .reservation-btn a {
    font-size: 13px;
  }
  .reservation-btn02 {
    font-size: 13px;
    padding: 10px 40px;
    margin-bottom: 25%;
  }
  .reservation-btn03 a {
    font-size: 13px;
  }
  .reservation-btn03 {
    font-size: 13px;
    padding: 10px 40px;
    margin-left: 20.5%;
    margin-top: 10%;
  }
  .reservation-btn03 {
    margin-bottom: 22%;
  }
  .detail02-img {
    position: relative;
    display: block;
    width: 40%;
  }
  .detail02-img img {
    left: -10%;
  }
  .explane {
    margin-left: 20%;
    font-size: 13px;
  }
  .explane02 {
    font-size: 13px;
    margin-top: 4%;
  }
  .explane002 {
    font-size: 13px;
  }
  span {
    font-size: 15px;
  }
  .car-txt {
    width: 48%;
  }
  .titlename03 {
    margin-left: 20.5%;
    margin-top: 20%;
  }
  .explane03 {
    font-size: 13px;
    margin-left: 20.5%;
  }
  .detail-img03 {
    width: 50%;
    margin: 0px;
    margin-top: 32.5%;
  }
  .detail-img03 img {
    width: 80%;
  }
  .area .inner {
    max-width: 650px;
  }
  .areatitle {
    margin-top: 100px;
  }
  .area-explane {
    font-size: 13px;
  }
  .area-info {
    font-size: 12px;
  }
  .area-map {
    margin-top: 80px;
    margin-bottom: 40px;
  }
  .titlename {
    margin-left: 20%;
  }
  .titlename02 {
    margin-top: 30%;
  }
  .titlename03 {
    margin-top: 25%;
  }
  .top-txt span {
    font-size: 20px;
  }
  .top-txt {
    font-size: 10px;
  }
  .bt-txt span {
    font-size: 15px;
  }
  .bt-txt {
    font-size: 12px;
  }
  .right-txt p {
    font-size: 12px;
  }
  .right-txt span {
    font-size: 15px;
  }
  .left-txt p {
    font-size: 15px;
  }
  .onfoot-txt {
    width: 48%;
  }
  .img img {
    padding: 65px 0 0 0;
  }
  .left-btn {
    border-radius: 10px;
  }
  .right-btn {
    border-radius: 10px;
  }
}
@media all and (max-width: 655px) {
}
@media all and (max-width: 480px) {
  .detailmain02 {
    flex-direction: column;
  }
  .detailmain03 {
    flex-direction: column;
  }
  .reservation-txt {
    position: relative;
    display: block;
    width: 100%;
  }
  .reservation-btn {
    margin-bottom: -15%;
    margin-left: 10%;
    padding: 15px 60px;
  }
  .titlename {
    font-size: 6.6458vw;
    margin-top: 36%;
    margin-left: 10%;
  }
  .titlename03 {
    font-size: 6.6458vw;
    margin-top: 20%;
    margin-left: 10%;
  }
  .explane {
    margin-left: 10%;
  }
  .explane03 {
    margin-left: 10%;
  }
  rvation-btn {
    margin-left: 10%;
    margin-bottom: 2%;
  }
  .reservation-btn02 {
    margin-bottom: 18%;
  }
  .reservation-btn03 {
    margin-left: 10%;
    margin-bottom: 25%;
    padding: 15px 60px;
  }
  .detail-img {
    width: 110%;
    margin-left: 0px;
    margin-top: 165px;
  }
  .detail-img img {
    width: 100%;
  }
  .detail-img03 {
    width: 100%;
    margin-top: 75%;
    margin-left: 0px;
  }
  .detail-img03 img {
    width: 70%;
    margin-left: 30%;
  }
  .detail02-img img {
    width: 100%;
  }
  .detail02-img {
    width: 70%;
  }
  .explane02 {
    font-size: 13px;
  }
  .explane002 {
    font-size: 13px;
  }
  .reservation-btn02 {
    margin-top: 15%;
    padding: 15px 60px;
  }
  .onfoot-txt {
    width: 80%;
  }
  .titlename02 {
    margin-top: 25%;
    margin-bottom: 10%;
    font-size: 6vw;
  }
  .car-txt {
    width: 80%;
  }
  .areatitle {
    margin-top: 100px;
    font-size: 6vw;
  }
  .area .inner {
    flex-direction: column;
  }
  .area-map {
    width: 70%;
  }
  .swiper-slide {
    flex-direction: column;
  }
  .area-txt {
    width: 100%;
  }
  .area-map img {
    width: 100%;
  }
  .area-explane {
    margin-top: 5%;
    line-height: 1.5;
  }
  .area-info {
    margin-top: 5%;
    line-height: 2;
  }
  .area-map img {
    width: 100%;
  }
  .area-explane {
    margin-top: 5%;
    line-height: 1.5;
  }
  .area-info {
    margin-top: 5%;
    line-height: 2;
  }
  .area-map {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .img {
    width: 100%;
    border-bottom: 1px solid #ccc;
  }
  .img img {
    width: 100%;
    padding: 65px 0 0 0;
  }
  .reservation-method-title {
    display: block;
    position: relative;
    margin: 0 auto;
    text-align: center;
  }
  .reservation-method-title > p:nth-child(1) {
    padding-top: 20%;
    margin-left: 10%;
    font-size: 6vw;
    font-weight: 600;
  }
  .reservation-method-title > p:nth-child(2) {
    margin-left: 10%;
    margin-top: 3%;
    font-size: 15px;
  }
  .reservation-box img {
    display: none;
  }
  .top-txt {
    display: none;
  }
  .reservation-box {
    width: 100%;
  }
  .top-txt {
    left: 10%;
    margin-top: 5%;
  }
  .bt-txt {
    text-align: center;
    line-height: 1.5;
    color: #333;
    margin-top: 3%;
    margin-right: 0;
    margin-bottom: 5%;
  }
  .bt-txt span {
    font-size: 20px;
  }
  .bt-txt {
    font-size: 14px;
  }
  .img {
    width: 100%;
    border-bottom: none;
  }
  .swiper-button-next,
  .swiper-button-prev {
    top: 50%;
  }
  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    right: 0%;
  }
  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    left: 7%;
  }
  .inner {
    width: 80%;
  }
  .bottom-btn .inner {
    flex-direction: column;
  }
  .left-btn {
    position: relative;
    width: 100%;
    height: 16.8542vw;
    margin-top: 50px;
    margin-bottom: 15px;
    border-radius: 20px;
    background-color: #34c987;
  }
  .right-btn {
    position: relative;
    width: 100%;
    height: 16.8542vw;
    margin-top: 15px;
    margin-bottom: 50px;
    border-radius: 15px;
  }
  .footer-title {
    font-size: 30px;
  }
}
