@charset "utf-8";

/* 헤더 */
header{
    position: fixed;
    display: block;
    width: 100%;
    height: 60px;
    z-index: 9999;
}
.inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 160px;
}
.logo h1{
    font-size: 40px;
    text-align: center;
    line-height: 40px;
    color: #34C987;
}
.header-menu{
    width: 500px;
}
.header-menu ul{
    display: flex;
    justify-content: space-between;
}
.header-menu ul li a:hover{
    color: #34C987;
}
.log-in{
    width: 120px;
}
.log-in ul{
    display: flex;
    justify-content: space-around;
}
.log-in ul li{
    border-right: 1px solid #000;
    padding-right: 5px;
}
.log-in ul li:last-child{
    border-right: 0;
}
.log-in ul li a:hover{
    color: #34C987;
}

/* detailmain01 */
.detailmain01{
    position: relative;
    display: block;
    width: 100%;
    height: 1000px;
    background-color: #f3f3f3;
}
.titlename{
    position: relative;
    display: inline-block;
    font-size: 70px;
    margin-top: 350px;
    margin-left: 200px;
    font-weight: 800;
    color: #222;
}
.explane{
    position: relative;
    display: block;
    font-size: 16px;
    margin-left: 200px;
    margin-top: 50px;
    line-height: 1.3;
    color: #333;
    font-weight: 500;
}
.reservation-btn{
    position: relative;
    display: block;
    padding: 20px 70px;
    margin-left: 200px;
    margin-top: 50px;
    background-color: #34c987;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.reservation-btn a{
    color: #fff;
}
.detailmain01 img{
    position: absolute;
    display: block;
    top: 21%;
    right: 0;
}

/* detailmain02 */
.detailmain02{
    position: relative;
    display: block;
    width: 100%;
    height: 1000px;
}
.detailmain02 img{
    position: absolute;
    display: block;
    top: 0;
    height: 101%;
    left:-100px;
}
.titlename02{
    position: relative;
    display: inline-block;
    font-size: 70px;
    margin-top: 350px;
    margin-left: 1000px;
    font-weight: 800;
    color: #222222;
}
.explane02{
    position: relative;
    display: block;
    font-size: 16px;
    margin-left: 1000px;
    margin-top: 50px;
    line-height: 1.3;
    color: #333;
    font-weight: 500;
}
.explane002{
    position: relative;
    display: block;
    font-size: 16px;
    margin-left: 1000px;
    margin-top: 30px;
    line-height: 1.3;
    color: #333;
    font-weight: 500;
}
span{
    font-size: 20px;
    font-weight: 700;
    color: #34C987;
}
.detailmain02 > .reservation-btn{
    margin-top: 100px;
    margin-left: 1000px;
}

/* detailmain03 */
.detailmain03{
    position: relative;
    display: block;
    width: 100%;
    height: 1000px;
    background-color: #f3f3f3;
}
.detailmain03 img{
    position: absolute;
    display: block;
    top: 21%;
    right: 0;
}
