@charset "utf-8";

/* 헤더 */
header{
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 60px;
    z-index: 9999;
}
header .inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 160px;
}
.logo h1{
    font-size: 40px;
    text-align: center;
    line-height: 40px;
    color: #34C987;
}
.header-menu{
    width: 500px;
}
.header-menu ul{
    display: flex;
    justify-content: space-between;
}
.header-menu ul li a:hover{
    color: #34C987;
}
.log-in{
    width: 120px;
}
.log-in ul{
    display: flex;
    justify-content: space-around;
}
.log-in ul li{
    border-right: 1px solid #000;
    padding-right: 5px;
}
.log-in ul li:last-child{
    border-right: 0;
}
.log-in ul li a:hover{
    color: #34C987;
}

/* ================================================== */
/* detailmain01 */
.detailmain01{
    /* margin-top: 60px; */
    position: relative;
    display:flex;
    width: 100%;
    height: 100vh;
}
.reservation-txt{
    position: relative;
    display: block;
    width: 50%;
}
.titlename{
    position: relative;
    display: inline-block;
    font-size: 3.6458vw;
    margin-top: 300px;
    margin-left: 200px;
    font-weight: 800;
    color: #222;
}
.explane{
    position: relative;
    display: block;
    font-size: 16px;
    margin-left: 200px;
    margin-top: 50px;
    line-height: 1.3;
    color: #333;
    font-weight: 500;
}
.reservation-btn{
    position: relative;
    display: block;
    padding: 20px 70px;
    margin-left: 200px;
    margin-top: 50px;
    background-color: #34c987;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.reservation-btn a{
    color: #fff;
}
.detail-img{
    position: relative;
    display: block;
    width: 50%;
}
.detail-img > img{
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
}

/* detailmain02 */
.detailmain02{
    position: relative;
    display: flex;   
    width: 100%;
    height: 100vh;
}
.detail02-img{
    position: relative;
    display: block;
    width: 50%;
}
.detail02-img img{
    position: absolute;
    display: block;
    top: 0;
    left: -5%;
    height: 100%;
}
.onfoot-txt{
    position: relative;
    display: inline-block;
    font-size: 3.6458vw;
    font-weight: 800;
    color: #222;
}
.onfoot-txt{
    width: 50%;
}
.titlename02{
    position: relative;
    display: inline-block;
    font-size: 3.6458vw;
    margin-top: 300px;
    margin-left: 100px;
    font-weight: 800;
    color: #222;
}
.explane02{
    position: relative;
    display: block;
    font-size: 16px;
    margin-top: 50px;
    margin-left: 100px;
    line-height: 1.3;
    color: #333;
    font-weight: 500;
}
.explane002{
    position: relative;
    display: block;
    font-size: 16px;
    margin-top: 30px;
    margin-left: 100px;
    line-height: 1.3;
    color: #333;
    font-weight: 500;
}
span{
    font-size: 20px;
    font-weight: 700;
    color: #34C987;
}
.reservation-btn02{
    position: relative;
    display: block;
    padding: 20px 70px;
    margin-top: 50px;
    margin-left: 100px;
    background-color: #34c987;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.reservation-btn02 a{
    color: #fff;
}

/* detailmain03 */
.detailmain03{
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #f3f3f3;
}
.car-txt{
    position: relative;
    display: block;
    width: 50%;
}
.detail-img{
    position: relative;
    display: block;
    width: 50%;
}
.detail-img img{
    position: absolute;
    display: block;
    
}



/* 서비스이용 가능지역 */
.area{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}
.inner{
    display: flex;
}
.area-txt{
    position: relative;
    display: block;
    width: 50%;
}
.area-explane{
    margin-left: 0;
    margin-top: 30px;
    line-height: 1.2;
}
.areatitle{
    position: relative;
    display: inline-block;
    font-size: 2.6042vw;
    margin-top: 200px;
    font-weight: 800;
    color: #222;
}
.area-info{
    position: relative;
    display: block;
    margin-top: 30px;
    line-height: 2;
    color: #333;
}
.area-info > i{
    float: left;
}
.area-map{
    position: relative;
    display: block;
    width: 50%;
    margin-top: 200px;
}
.area-map img{
    width: 90%;
}

/* 지원하기 */
.joinus {
    position: relative;
    display: flex;
    width: 100%;
    height: 180px;
}
.driver {
    position: relative;
    display: block;
    width: 50%;
    height: 180px;
    background-color: yellowgreen;
}
.driver-img {
    position: absolute;
    display: block;
    width: 100%;
    height:100%;
    filter: brightness(50%);
    background-image: url("../images/detail/join01.png") ;
    background-repeat: no-repeat; /* 이미지 반복을 여기로 이동합니다. */
    background-size: cover; 
}

.manaser {
    position: relative;
    display: block;
    width: 50%;
    height: 180px;
    background-color: aqua;
}
.manaser-img {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    filter: brightness(50%);
    background-image: url("../images/detail/join02.png") ;
    background-repeat: no-repeat; /* 이미지 반복을 여기로 이동합니다. */
    background-size: cover; /* 이미지를 부모 요소에 맞게 크기 조절합니다. */
}

/* 예약방법 슬라이드 */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 40%;
    object-fit: cover;
}

.reservation-method{
    position: relative;
    display: block;
    background-color: #f3f3f3;
}
.reservation-method .inner{
    position: relative;
    display: block;
}
.img{
    position: relative;
    display: flex;
    /* background-color: yellowgreen; */
    width: 40%;
    /* height: 100%; */
    justify-content: center;
    align-items: end
}
.img img{
    position: relative;
    display: inline-block;
    /* background-color: yellow; */
    width: 90%;
    padding: 50px 0 0 0 ;
}
.reservation-box{
    position: relative;
    display: block;
    width: 60%;
    /* background-color: thistle; */
}
.reservation-box img{
    width: 100%;
}
.top-txt{
    position: absolute;
    display: block;
    /* background-color: #fff; */
    text-align: left;
    z-index: 9999;
    top: 7%;
    left: 7%;
    line-height: 1.4;
    font-size: 13px;
}
.top-txt span{
    font-size: 35px;
}
.bt-txt{
    position: relative;
    display: block;
    /* background-color: tomato; */
    text-align: right;
    font-size: 18px;
    line-height: 1.3;
    color: #333;
}
.bt-txt span{
    font-size: 25px;
    color: #333;
}


/* 지원하기 버튼 */
.joinus a{
    position: relative;
    display: block;
    margin-top: 60px;
    margin-left: 70%;
    width: 25%;
    padding: 10px 30px;
    background: none;
    border: 1px solid#fff;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    text-align: center;
}
.joinus p{
    position: relative;
    display: block;
    color: #fff;
    z-index: 99;
    margin-top: 40px;
    margin-left: 40px;
    font-size: 20px;
    font-weight: 200;
    z-index: 99;
}
/* footer */
footer{
    position: relative;
    display: block;
    background-color: #333;
    width: 100%;
    height: 400px;
}
footer .inner{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
}

.footer-title{
    position: relative;
    display: block;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    color: #34C987;
    font-weight: 800;
    margin-top: 50px;
}
.sns-icon{
    position: relative;
    display: flex;
    width: 15%;
    text-align: center;
    justify-content: space-between;
    margin-top: 50px;
}
footer .inner img{
    width: 40px;
}
.email-number{
    position: relative;
    display: flex;
    width: 40%;
    color: #fff;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
    font-weight: 200;
}
.name-adress{
    position: relative;
    display: flex;
    width: 30%;
    color: #fff;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    font-weight: 200;
}
.copy{
    position: relative;
    display: block;
    text-align: center;
    /* background-color: yellowgreen; */
    margin-top: 60px;
    color: #fff;
    font-weight: 100;
}


@media all and (max-width: 1080px) {
}