@charset "utf-8";
.wrap {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
/* 헤더 */
header {
  position: fixed;
  display: block;
  height: 60px;
  width: 100%;
  z-index: 9999;
}
header .inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 160px;
}
.logo h1 {
  font-size: 40px;
  text-align: center;
  line-height: 40px;
  color: #34c987;
}
.header-menu {
  width: 500px;
}
.header-menu ul {
  display: flex;
  justify-content: space-between;
}
.header-menu ul li a {
  color: #fff;
}
.header-menu ul li a:hover {
  color: #34c987;
}
.log-in {
  width: 120px;
}
.log-in ul {
  display: flex;
  justify-content: space-around;
}
.log-in ul li {
  border-right: 1px solid #fff;
  padding-right: 5px;
}
.log-in ul li:last-child {
  border-right: 0;
}
.log-in ul li a {
  color: #fff;
}
.log-in ul li a:hover {
  color: #34c987;
}
/* ================================================================================= */
/* 비주얼 */
.visual {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
}
/* Swiper */
.swiper {
  width: 100%;
  height: 100%;
}
.visual-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.visual-bg-1 {
  background: url("../images/index/visual.jpg") no-repeat center;
  background-size: cover;
}
.visual-bg-2 {
  background: url("../images/index/visual2.jpg") no-repeat center;
  background-size: cover;
}
.visual-bg-3 {
  background: url("../images/index/visual3.jpg") no-repeat center;
  background-size: cover;
}
.visual-box .visual-inner {
  position: absolute;
  right: 45%;
  top: 16%;
}
.visual-phone {
  position: absolute;
  right: 10%;
}
.visual-box .visual-inner h2 {
  line-height: 1.3;
  font-size: 64px;
  font-weight: 600;
  color: #fff;
}
/* 일반 슬라이드 */
.sw-visual .swiper-slide .visual-box h2 {
  opacity: 0;
  transform: translateX(-10%);
}
.sw-visual .swiper-slide .visual-box p {
  opacity: 0;
  transform: translateY(30px);
}
/* 포커스된 슬라이드 */
.sw-visual .swiper-slide-active .visual-box h2 {
  transition: opacity 1s, transform 1s;
  transform: translateX(0);
  opacity: 1;
}
.sw-visual .swiper-slide-active .visual-box p {
  transition: opacity 1s 0.5s, transform 1s 0.5s;
  transform: translateY(0);
  opacity: 1;
}
.visual-box .visual-inner p {
  opacity: 0.9;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.13em;
  color: #eee;
}
.visual-box .visual-inner a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 255px;
  height: 55px;
  opacity: 1;
  visibility: visible;
  padding: 0 45px 0 50px;
  margin-top: 30%;
  font-size: 17px;
  color: #fff;
  border: none;
  border-radius: 50px;
  background-color: #34c987;
}
/* sw-visual 콘트롤 */
.sw-visual-control {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: calc(50% - 370px);
  /* top: 50% ; */
  display: flex;
  width: 100%;
  max-width: 1420px;
  z-index: 9;
}
.sw-visual-control button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  /* background-color: rgba(255, 255, 255, 0.3); */
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
  color: #fff;
}
.sw-visual-control button i {
  opacity: 0.5;
  transition: opacity 0.3s;
  font-size: 30px;
}
.sw-visual-control button:hover i {
  opacity: 1;
}
.sw-visual-pg {
  position: absolute;
  left: 75%;
  transform: translateX(-50%);
  top: calc(50% + 320px);
  width: 100%;
  z-index: 9;
}
.sw-visual-pg-list {
  position: relative;
  display: flex;
}
.sw-visual-pg-list > li {
  position: relative;
  width: 60px;
  height: 30px;
  padding: 10px 10px;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
  /* background-color: #34c987; */
  overflow: hidden;
}
.sw-visual-pg-list > li::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 30px;
  height: 30px;
  /* border-radius: 55%; */
  background-color: #fff;
  opacity: 0.4;
}
.sw-visual-pg-list > li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0px;
  height: 30px;
  /* border-radius: 50%; */
  background-color: rgba(255, 255, 255, 0.6);
}
.sw-visual-pg-list > li.active::after {
  transition: width 1.5s;
  width: 30px !important;
}
/* ================================================================================= */
/* 소개페이지 */
.introduce{
  width: 100%;
  position: relative;
  display: block;
  margin: 5% 0;
}
.inner{
  position: relative;
  display: flex;
  justify-content: space-between;
}
.introduce-txt{
  width: 460px;
  height: 730px;
}
.introduce-txt h2{
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}
.introduce-txt > p{
  font-size: 20px;
  font-weight: 400;
  padding: 20px 0px;
  margin: 40px 0px;
}
.introduce-txt > a{
  display: block;
  margin-top: 40%;
}
.introduce-txt > a > p{
  font-size: 30px;
  color: #34c987;
}
.service01{
  position: relative;
  display: block;
  width: 450px;
  height: 730px;
  border-radius: 20px;
  overflow: hidden;
}
.service01 img{
  transition:  0.3s;
  max-width: 100%;
  height: auto;
}
.service01 img:hover{
  scale: 1.1;
  filter:brightness(50%)
}
.service01  span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 26px;
  color: #fff;
}
.service01 a:hover > span{
  color: #34c987;
  transition: linear 0.3s;
}
.service02{
  position: relative;
  display: block;
  width: 450px;
  height: 730px;
  border-radius: 20px;
  overflow: hidden;
}
.service02 img{
  transition:  0.3s;
  max-width: 100%;
  height: auto;
}
.service02 img:hover{
  scale: 1.1;
  filter:brightness(50%)
}
.service02  span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 26px;
  color: #fff;
}
.service02 a:hover >span{
  color: #34c987;
  transition: linear 0.3s;
}
/* ================================================================================= */
/* 앱서비스 */