@charset "utf-8";
body {
  overflow: hidden;
}
.wrap {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
/* 모달 */
/* modal */
.modal {
  position: fixed;
  right: 4.4%;
  top: 55%;
  transform: translateY(-50%);
  display: none;
  width: 3.6458vw;
  height: 15.625vw;
  z-index: 9999;
  padding: 0.5208vw 0;
}
.modal li {
  text-align: right;
  margin: 10% 0;
  width: 7.8125vw;
  padding: 0.5208vw;
}
/* .modal li:last-child {
  margin-bottom: 0;
} */
.modal li a {
  font-weight: 700;
  font-size: 0.7292vw;
  color: #333;
}
.modal li a:hover {
  color: #34c987;
}
.menu-link.active a {
  color: #34c987;
}
.modal-top {
  position: fixed;
  display: none;
  right: 1.0417vw;
  bottom: 2.6042vw;
  z-index: 99;
  width: 2.6042vw;
  height: 2.6042vw;
  line-height: 2.6042vw;
  border-radius: 50%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0.1042vw 0.1042vw 0.5208vw 0 #4e4e4e00;
  cursor: pointer;
}
.modal-top i {
  width: 2.0833vw;
  height: 2.0833vw;
  font-size: 1.0417vw;
  color: #34c987;
}
.modal-menu a {
  color: #333; /* Set your default menu item color */
  transition: color 0.3s ease; /* Add a smooth transition */
}

/* Style for the active modal menu item */
.modal-menu a.active {
  color: #34c987; /* Set the menu item color for the active section */
}
/* 헤더 */

header {
  position: fixed;
  display: block;
  height: 4.1667vw;
  width: 100%;
  z-index: 9999;
}
header .inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 8.3333vw;
}
.logo h1 {
  font-size: 2.2917vw;
  font-weight: 700;
  text-align: center;
  line-height: 2.0833vw;
  color: #34c987;
}
.header-menu {
  width: 26.0417vw;
}
.header-menu ul {
  display: flex;
  justify-content: space-between;
}
.header-menu ul li a {
  font-size: 0.9375vw;
  font-weight: 600;
  color: #fff;
}
.header-menu ul li a:hover {
  color: #34c987;
}
.header-menu ul li {
  position: relative;
}
.header-menu ul li::after {
  content: "";
  display: block;
  /* absolute는 너비높이에 영행을 안준다 */
  position: absolute;
  left: 0;
  top: 120%;
  width: 100%;
  height: 0.1042vw;
  background: #34c987;
  opacity: 0;
  transition: all 0.2s;
}
.header-menu ul li:hover::after {
  opacity: 1;
}
.log-in {
  width: 6.25vw;
}
.log-in ul {
  display: flex;
  justify-content: space-around;
}
.log-in ul li {
  border-right: 0.0625rem solid #fff;
  padding: 0 7%;
}
.log-in ul li:last-child {
  border-right: 0;
}
.log-in ul li a {
  color: #fff;
  font-size: 0.9375vw;
  font-weight: 600;
}
.log-in ul li a:hover {
  color: #34c987;
}
.log-in ul li {
  position: relative;
}
.log-in ul li::after {
  content: "";
  display: block;
  /* absolute는 너비높이에 영행을 안준다 */
  position: absolute;
  left: 0.5208vw;
  bottom: -0.2604vw;
  width: 75%;
  height: 0.1042vw;
  background: #34c987;
  opacity: 0;
  transition: all 0.2s;
}
.log-in ul li:hover::after {
  opacity: 1;
}
/* 상단베뉴바 스크롤시 바와 글자 색상변경 */
.navbar {
  background-color: rgba(0, 0, 0, 0.3); /* Set your default color */
  transition: background-color 0.3s ease; /* Add a smooth transition */
}
.header-menu ul li a.active {
  color: #000;
}
/* Style for the navbar when scrolled */
.navbar.active {
  background-color: #fff; /* Set the color when scrolled */
}
.navbar a {
  color: #fff; /* Set your default text color */
  transition: color 0.3s ease; /* Add a smooth transition */
}

/* Style for the navbar text when scrolled */
.navbar.scrolled a {
  color: #000; /* Set the text color when scrolled */
}
/* 헤더 반응형 */
@media all and (max-width: 1000px) {
  header {
    width: 100%;
    height: 60px;
  }
  header::after {
    content: "";
    background: url("../images/index/mobile-menu.png");
    position: absolute;
    color: #fff;
    background-color: #fff;
    top: 40%;
    left: 80%;
    z-index: 999;
  }
  .logo {
    width: 150px;
    margin: 0 auto;
  }
  .logo h1 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    line-height: 2.0833vw;
    color: #34c987;
  }
  .header-menu {
    display: none;
  }
  .log-in {
    display: none;
  }
  .nav {
    position: relative;
    display: flex;
  }
}
/* ================================================================================= */
/* 비주얼 */
.visual {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
}
/* Swiper */
.sw-visual {
  width: 100%;
  height: 100%;
}
.visual-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.visual-bg-1 {
  background: url("../images/index/visual.jpg") no-repeat center;
  background-size: cover;
}
.visual-bg-2 {
  background: url("../images/index/visual2.jpg") no-repeat center;
  background-size: cover;
}
.visual-bg-3 {
  background: url("../images/index/visual3.jpg") no-repeat center;
  background-size: cover;
}
.visual-box .visual-inner {
  position: absolute;
  right: 47%;
  top: 34%;
}
.visual-box .visual-inner a {
  position: absolute;
  top: 20%;
}
.visual-phone {
  position: absolute;
  right: 10%;
  width: 19.7917vw;
  /* height: 700px; */
  object-fit: cover;
  filter: brightness(90%);
}
.visual-box .visual-inner h2 {
  line-height: 1.2;
  font-size: 3.125vw;
  font-weight: 600;
  color: #fff;
}
/* 일반 슬라이드 */
.sw-visual .swiper-slide .visual-box h2 {
  opacity: 0;
  transform: translateX(-10%);
}
.sw-visual .swiper-slide .visual-box p {
  opacity: 0;
  transform: translateY(1.5625vw);
}
/* 포커스된 슬라이드 */
.sw-visual .swiper-slide-active .visual-box h2 {
  transition: opacity 1s, transform 1s;
  transform: translateX(0);
  opacity: 1;
}
.sw-visual .swiper-slide-active .visual-box p {
  transition: opacity 1s 0.5s, transform 1s 0.5s;
  transform: translateY(0);
  opacity: 1;
}
.visual-box .visual-inner p {
  opacity: 1;
  margin-top: 1.0417vw;
  font-size: 0.9375vw;
  font-weight: 300;
  line-height: 1.5em;
  color: #e2e2e2;
}
.visual-box .visual-inner a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 13.2813vw;
  height: 2.8646vw;
  opacity: 1;
  visibility: visible;
  padding: 0 2.3438vw 0 2.6042vw;
  margin-top: 32%;
  font-size: 0.8333vw;
  color: #fff;
  border: none;
  border-radius: 2.6042vw;
  background-color: #34c987;
}
/* sw-visual 콘트롤 */
.sw-visual-control {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: calc(50% - 19.2708vw);
  /* top: 50% ; */
  display: flex;
  width: 100%;
  max-width: 73.9583vw;
  z-index: 9;
}
.sw-visual-control button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.125vw;
  height: 3.125vw;
  /* background-color: rgba(255, 255, 255, 0.3); */
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 0.5208vw;
  color: #fff;
}
.sw-visual-control button i {
  opacity: 0.5;
  transition: opacity 0.3s;
  font-size: 1.5625vw;
}
.sw-visual-control button:hover i {
  opacity: 1;
}
.sw-visual-pg {
  position: absolute;
  left: 75%;
  transform: translateX(-50%);
  top: calc(50% + 16.6667vw);
  width: 100%;
  z-index: 9;
}
.sw-visual-pg-list {
  position: relative;
  display: flex;
}
.sw-visual-pg-list > li {
  position: relative;
  width: 3.125vw;
  height: 1.6667vw;
  padding: 0.5208vw 0.5208vw;
  margin-right: 0.5208vw;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
  /* background-color: #34c987; */
  overflow: hidden;
}
.sw-visual-pg-list > li::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.1042vw;
  background-color: #fff;
  opacity: 0.4;
}
.sw-visual-pg-list > li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0.1042vw;
  background-color: rgba(255, 255, 255, 0.6);
}
.sw-visual-pg-list > li.active::after {
  transition: width 1.5s;
  width: 100% !important;
}
/* 비주얼 반응형 */
@media all and (max-width: 1024px) {
}
/* ================================================================================= */
/* 소개페이지 */
.introduce {
  width: 100%;
  height: 100vh;
  position: relative;
  display: block;
}
.inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.introduce-txt {
  width: 23.9583vw;
  height: 38.0208vw;
}
.introduce-txt h2 {
  font-size: 2.6042vw;
  font-weight: bold;
  line-height: 3.125vw;
  margin-bottom: 1.0417vw;
}
.introduce-txt > p {
  font-size: 1.0417vw;
  font-weight: 400;
  line-height: 1.3542vw;
  padding: 0.5208vw 0;
  /* margin: 40px 0px; */
  color: #666;
}
.introduce-txt > a {
  display: block;
  margin-top: 1%;
}
.introduce-txt > a > p {
  font-size: 1.25vw;
  color: #34c987;
}
.introduce-txt > a:hover {
  font-weight: bold;
}
.service01 {
  position: relative;
  display: block;
  width: 20.8333vw;
  height: 36.4583vw;
  border-radius: 2.6042vw;
  overflow: hidden !important;
  margin-left: 5%;
}
.service01 img {
  transition: 0.3s;
  max-width: 100%;
  height: 36.4583vw;
}
.service01 a:hover img {
  scale: 1.1;
  filter: brightness(50%);
}
.service01 span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.4583vw;
  font-weight: bold;
  color: #fff;
}
.service01 a:hover > span {
  color: #34c987;
  transition: linear 0.3s;
}
.service02 {
  position: relative;
  display: block;
  width: 20.8333vw;
  height: 36.4583vw;
  border-radius: 2.6042vw;
  overflow: hidden !important;
}
.service02 img {
  transition: 0.3s;
  max-width: 100%;
  height: 36.4583vw;
}
.service02 a:hover img {
  scale: 1.1;
  filter: brightness(50%);
}
.service02 span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.4583vw;
  font-weight: bold;
  color: #fff;
}
.service02 a:hover > span {
  color: #34c987;
  transition: linear 0.3s;
}
/* ================================================================================= */
/* 배너 */
.banner {
  width: 100%;
  height: 200.625vw;
  /* height: 100vh; */
  position: relative;
  display: block;
  z-index: 1;
}
.bg {
  display: block;
  width: 100%;
  height: 50.1563vw;
  top: 0;
  left: 0;
}
.bg > div {
  width: 100%;
  height: 50.1563vw;
  background-attachment: fixed !important;
  position: relative;
}
.bg > div p strong {
  font-size: 2.0833vw;
  font-weight: 600;
}
.bg > div p {
  display: inline-block;
  padding: 0.5208vw;
  font-size: 1.25vw;
  font-weight: 400;
  text-align: center;
  line-height: 1.875vw;
  color: #e0e0e0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
.bg > div p span {
  font-weight: bold;
  font-size: 2.6042vw;
}
.bg > div.bg01 {
  background: url("../images/index/banner.png") no-repeat 50% 50% / cover;
  z-index: 10;
}
.bg > div.bg01::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50.1563vw;
  background-color: rgba(0, 0, 0, 0.5);
}
.bg > div.bg02 {
  background: url("../images/index/banner.png") no-repeat 50% 50% / cover;
  z-index: 20;
}
.bg > div.bg02::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50.1563vw;
  background-color: rgba(0, 0, 0, 0.5);
}
.bg > div.bg03 {
  background: url("../images/index/banner.png") no-repeat 50% 50% / cover;
  z-index: 30;
}
.bg > div.bg03::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50.1563vw;
  background-color: rgba(0, 0, 0, 0.5);
}
.bg > div.bg04 {
  background: url("../images/index/banner.png") no-repeat 50% 50% / cover;
  z-index: 40;
}
.bg > div.bg04::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50.1563vw;
  background-color: rgba(0, 0, 0, 0.5);
}
/* ======================================================================= */
/* 앱서비스 */
.app-service {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
}
.inner {
  position: relative;
}
:root {
  --dark-green: #9cc675;
  --dark-yellow: #e89a3d;
  --extra-light-brown: #fdf0d7;
  --light-brown: #ecd5ab;
  --dark-brown: #915b40;
}
.app-service-txt p {
  font-size: 2.6042vw;
  padding-top: 8%;
  margin-top: 3%;
  margin-bottom: 2%;
  line-height: 3.6458vw;
  color: #666;
}
.app-service-txt span {
  font-weight: bold;
  color: #000;
}
.swiper-full-mobile {
  position: relative;
  /* margin: 50px auto; */
  padding-bottom: 4.1667vw;
  /* padding-top: 50px; */
}
/* .swiper-full-mobile:before {
  content: "";
  width: 370px;
  background: url("../images/index/iphonesample.png");
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 3px;
  right: 0px;
  top: 23px;
  bottom: 0px;
  height: 700px;
  z-index: 2;
  margin: auto;
} */
.swiper-full-mobile .swiper-slide {
  height: 100%;
}
.swiper-full-mobile .swiper-slide img {
  width: 80%;
  margin-left: 10%;
  height: 28.6458vw;
  object-fit: contain;
}
.swiper-slide.swiper-slide-active img {
  border-radius: 2.0833vw;
}
.swiper-full-mobile .swiper-slide p {
  text-align: center;
  font-size: 0.7292vw;
  font-weight: 400;
  line-height: 0.8333vw;
}
.swiper-full-mobile .swiper-slide p span {
  font-size: 1.0417vw;
  font-weight: 600;
  line-height: 2.0833vw;
}

/* ========================= */
/* ============================================================= */
/* 이용후기 */
.review {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  /* background-color: #f3f3f3; */
}
.review .inner {
  position: relative;
  display: flex;
  padding-bottom: 5%;
  flex-wrap: wrap;
  justify-content: space-around;
}
.review-sw {
  position: relative;
  overflow: hidden;
  padding-top: 5%;
  width: 100%;
  height: 50%;
}
.review-txt {
  width: 100%;
}
.review h2 {
  font-size: 2.6042vw;
  font-weight: bold;
  line-height: 3.125vw;
  padding-top: 5%;
  margin-top: 3%;
  margin-bottom: 1.3021vw;
}
.review p {
  font-size: 1.0417vw;
  line-height: 1.3542vw;
  font-weight: 400;
  color: #666;
}

.reviewswiper {
  /* position: relative; */
  display: block;
  height: 70%;
}

.reviewswiper .swiper-slide {
  text-align: center;
  font-size: 0.9375vw;
  height: 100%;
}
.reviewswiper .swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 2.8646vw;
  object-fit: cover;
}
.review-bt-box {
  display: block;
  width: 100%;
  height: 2.6042vw;
  border-radius: 2.0833vw;
  margin-top: 5%;
  margin-bottom: 8%;
}
.review-more {
  display: block;
  position: absolute;
  top: 82%;
  right: 0%;
}
.review-more a {
  font-size: 0.7813vw;
  font-weight: 400;
  color: #34c987;
}
.review-bt {
  border: 0.0625rem solid #34c987;
  background-color: transparent;
  width: 100%;
  height: 2.6042vw;
  border-radius: 2.0833vw;
  cursor: pointer;
  font-size: 0.9375vw;
  font-weight: 550;
}
.review-bt-box:hover {
  background-color: #34c987;
}
.review-bt-box:hover .review-bt {
  color: #fff;
}
/* ====================================================== */
/* 하단배너 */
.bt-banner {
  width: 100%;
  height: 10.4167vw;
}
.btb-left {
  width: calc(100% / 2);
  height: 100%;
  float: left;
  display: block;
  position: relative;
}
.btb-left img {
  width: 100%;
  height: 100%;
}
.btb-left p {
  position: absolute;
  top: 20%;
  left: 8%;
  color: #fff;
  font-size: 1.3542vw;
  font-weight: 600;
}
.btb-left button {
  position: absolute;
  bottom: 20%;
  right: 8%;
  color: #fff;
  font-size: 0.9375vw;
  font-weight: 550;
  border: 0.0625rem solid #fff;
  border-radius: 2.6042vw;
  width: 13.5417vw;
  height: 2.3438vw;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
.btb-left button:hover {
  color: #34c987;
  border: 0.0625rem solid #34c987;
}
.btb-right {
  width: calc(100% / 2);
  height: 100%;
  float: right;
  display: block;
  position: relative;
}
.btb-right img {
  width: 100%;
  height: 100%;
}
.btb-right p {
  position: absolute;
  top: 20%;
  left: 8%;
  color: #fff;
  font-size: 1.3542vw;
  font-weight: 600;
}
.btb-right button {
  position: absolute;
  bottom: 20%;
  right: 8%;
  color: #fff;
  font-size: 0.9375vw;
  font-weight: 550;
  border: 0.0625rem solid #fff;
  border-radius: 2.6042vw;
  width: 13.5417vw;
  height: 2.3438vw;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
.btb-right button:hover {
  color: #34c987;
  border: 0.0625rem solid #34c987;
}
/* ====================================================== */
/* 푸터 */
/* footer */
footer {
  position: relative;
  display: block;
  background-color: #333;
  width: 100%;
  height: 15.625vw;
}
footer .inner {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 0;
}

.footer-title {
  position: relative;
  display: block;
  font-size: 2.0833vw;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  color: #34c987;
  font-weight: 800;
  margin-top: 2.0833vw;
}
.sns-icon {
  position: relative;
  display: flex;
  width: 12%;
  text-align: center;
  justify-content: space-between;
  margin-top: 2.6042vw;
}
footer .inner img {
  width: 1.8229vw;
}
.email-number {
  position: relative;
  display: flex;
  width: 40%;
  color: #9d9d9d;
  justify-content: space-around;
  align-items: center;
  margin-top: 1.5625vw;
  font-weight: 200;
}

.copy {
  position: relative;
  display: block;
  text-align: center;
  color: #9d9d9d;
  font-weight: 100;
  margin-top: 2.6042vw;
}

@media all and (max-width: 1080px) {
}
