@charset "utf-8";

.inner {
  position: relative;
  padding: 0px 0px;
  margin: 0 auto;
  max-width: 1000px;
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
}

/* 헤더 */
header {
  position: fixed;
  display: block;
  width: 100%;
  height: 60px;
  z-index: 9999;
  top: 0;
  background-color: #fff;
}
header .inner {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  padding: 0px 25px;
}
.logo {
  width: 160px;
}
.logo h1 {
  font-size: 40px;
  text-align: center;
  line-height: 40px;
  color: #34c987;
}
.header-menu {
  width: 500px;
}
.header-menu ul {
  display: flex;
  justify-content: space-between;
}
.header-menu ul li a {
  transition: color 0.15s ease-in-out !important;
  font-weight: 600;
}
.header-menu ul li a:hover {
  color: #34c987;
}
.log-in {
  width: 120px;
}
.log-in ul {
  display: flex;
  justify-content: space-around;
}
.log-in ul li {
  border-right: 1px solid #000;
  padding-right: 4.65px;
}
.log-in ul li:last-child {
  border-right: 0;
}
.log-in ul li a {
  transition: color 0.15s ease-in-out !important;
}
.log-in ul li a:hover {
  color: #34c987;
}

/* 전체 컨텐츠 */
.contents {
  width: 80%;
  margin: auto;
  margin-top: 150px;
}
.contents .inner {
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
  color: #333;
}
.login-form {
  position: relative;
  width: 100%;
  border: 1px solid #f3f3f3;
  max-width: 450px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.legends {
  min-width: 241.92px;
  margin: auto;
  z-index: 999;
  position: absolute;
  top: -15px;
}
legend {
  float: left;
  border: 1px solid #f3f3f3;
  background-color: #fff;
  color: #333;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 6px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.034) 0px 4px 5px -1px,
    rgba(43, 43, 43, 0.021) 0px 2px 4px -1px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out !important;
}
legend:hover {
  background-color: #08ca73 !important;
}
legend:active {
  background-color: #06a75f !important;
}

/* .userlegend {
  background-color: #34c987;
  color: #fff;
  border: 1px solid #34c987;
  font-weight: 600;
} */
input {
  width: 85%;
  max-width: 380px;
  margin: auto;
  padding: 10px 10px;
  border: 0;
  border-bottom: 1px solid #ccc;
  transition: border 0.2s ease-in-out !important;
}
input:hover,
input:focus {
  border-bottom: 1px solid #34c987;
}
.textinput {
  margin-top: 50px;
  margin-bottom: 20px;
}
.passwordinput {
  margin-bottom: 20px;
}
.find {
  position: absolute;
  left: 9.5%;
  bottom: 145px;
  margin-bottom: 30px;
  font-size: 14px;
  color: #777;
  transition: color 0.2s ease-in-out !important;
}
.find:hover {
  color: #34c987;
}
.submitbtn {
  width: 90%;
  max-width: 300px;
  padding: 10px;
  border: 0;
  background-color: #34c987;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 15px;
  transition: background-color 0.2s ease-in-out !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.gosignup {
  width: 90%;
  max-width: 300px;
  padding: 10px;
  border: 0;
  background-color: #f0f0f0;
  color: #333;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 40px;
  transition: background-color 0.2s ease-in-out !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.submitbtn:hover {
  background-color: #06b667;
}
.submitbtn:active {
  background-color: #059152;
}
.content-ul {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}
.content-ul img {
  height: 20px;
  margin-right: 15px;
  opacity: 0.9;
}
.naver,
.kakao,
.google {
  width: 90%;
  max-width: 350px;
  margin: 0 auto;
  border-radius: 6px;
  display: flex;
  color: #555;
  padding: 13px 50px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out !important;
}
.naver {
  margin-top: 50px;
  border: 1px solid #1ec800ce;
}
.kakao {
  border: 1px solid #fee500ce;
}
.google {
  border: 1px solid #4884edce;
}
.naver:hover {
  background-color: #1ec80010;
}
.kakao:hover {
  background-color: #fee50010;
}
.google:hover {
  background-color: #4884ed10;
}

@media all and (max-width: 480px) {
  .login-form {
    border: 0;
    box-shadow: none;
  }
}
@media all and (max-width: 434px) {
  .naver,
  .kakao,
  .google {
    padding: 15px 30px 15px 50px;
  }
}
@media all and (max-width: 409px) {
  .naver,
  .kakao,
  .google {
    padding: 15px 20px 15px 45px;
  }
}
@media all and (max-width: 384px) {
  .naver,
  .kakao,
  .google {
    padding: 15px 15px 15px 33px;
  }
}
@media all and (max-width: 359px) {
  .naver,
  .kakao,
  .google {
    padding: 15px 10px 15px 30px;
    font-size: 15px;
  }
}
@media all and (max-width: 334px) {
  .naver,
  .kakao,
  .google {
    padding: 15px 13px 15px 18px;
  }
}
