@charset "utf-8";
@font-face {
  font-family: 'KorailRoundGothicBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KorailRoundGothicBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
.inner {
  position: relative;
  padding: 0px 0px;
  margin: 0 auto;
  max-width: 1000px;
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
}

/* 헤더 */
header {
  position: fixed;
  display: block;
  top: 0;
  height: 60px;
  background-color: #fff;
  width: 100%;
  z-index: 9999;
}
header .inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 120px;
}
.logo h1 {
  font-size: 33px;
  font-weight: 700;
  text-align: center;
  font-family: 'KorailRoundGothicBold';
  line-height: 30px;
  color: #34c987;
}
.header-menu {
  width: 40%;
}
.header-menu ul {
  display: flex;
  justify-content: space-between;
}
.header-menu ul li a {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}
.header-menu ul li a:hover {
  color: #34c987;
}
.header-menu ul li {
  position: relative;
}
.header-menu ul li::after {
  content: "";
  display: block;
  /* absolute는 너비높이에 영행을 안준다 */
  position: absolute;
  left: 0;
  top: 120%;
  width: 100%;
  height: 2px;
  background: #34c987;
  opacity: 0;
  transition: all 0.2s;
}
.header-menu ul li:hover::after {
  opacity: 1;
}
.log-in {
  width: 90px;
}
.log-in ul {
  display: flex;
  justify-content: space-around;
}
.log-in ul li {
  border-right: 0.0625rem solid #fff;
  padding: 0 9%;
}
.log-in ul li:last-child {
  border-right: 0;
}
.log-in ul li a {
  color: #333;
  font-size: 16px;
  font-weight: 600;
}
.log-in ul li a:hover {
  color: #34c987;
}
.log-in ul li {
  position: relative;
}
.log-in ul li::after {
  content: "";
  display: block;
  /* absolute는 너비높이에 영행을 안준다 */
  position: absolute;
  left: 7px;
  bottom: -4px;
  width: 75%;
  padding-right: 6%;
  height: 2px;
  background: #34c987;
  opacity: 0;
  transition: all 0.2s;
}
.log-in ul li:hover::after {
  opacity: 1;
}
/* 상단베뉴바 스크롤시 바와 글자 색상변경 */
.navbar {
  transition: background-color 0.3s ease; /* Add a smooth transition */
}
.header-menu ul li a.active {
  color: #000;
}
/* Style for the navbar when scrolled */
.navbar.active {
  background-color: #fff; /* Set the color when scrolled */
}
.navbar a {
  color: #fff; /* Set your default text color */
  transition: color 0.3s ease; /* Add a smooth transition */
}

/* Style for the navbar text when scrolled */
.navbar.scrolled a {
  color: #000; /* Set the text color when scrolled */
}
.mobile-menu-bar {
  display: none;
}

/* 전체 컨텐츠 */
.contents {
  width: 80%;
  margin: auto;
  margin-top: 150px;
}
.contents .inner {
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
  color: #333;
}
.login-form {
  position: relative;
  width: 100%;
  border: 1px solid #f3f3f3;
  max-width: 450px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.legends {
  min-width: 241.92px;
  margin: auto;
  z-index: 999;
  position: absolute;
  top: -15px;
}
legend {
  float: left;
  border: 1px solid #f3f3f3;
  background-color: #fff;
  color: #333;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 6px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.034) 0px 4px 5px -1px,
    rgba(43, 43, 43, 0.021) 0px 2px 4px -1px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out !important;
}
legend:hover {
  background-color: #09bd6c !important;
  color: #fff !important;
}
legend:active {
  background-color: #06a75f !important;
}

/* .userlegend {
  background-color: #34c987;
  color: #fff;
  border: 1px solid #34c987;
  font-weight: 600;
} */
input {
  width: 85%;
  max-width: 380px;
  margin: auto;
  padding: 10px 10px;
  border: 0;
  border-bottom: 1px solid #ccc;
  transition: border 0.2s ease-in-out !important;
}
input:hover,
input:focus {
  border-bottom: 1px solid #34c987;
}
.textinput {
  margin-top: 50px;
  margin-bottom: 20px;
}
.passwordinput {
  margin-bottom: 20px;
}
.find {
  position: absolute;
  left: 9.5%;
  bottom: 145px;
  margin-bottom: 30px;
  font-size: 14px;
  color: #777;
  transition: color 0.2s ease-in-out !important;
}
.find:hover {
  color: #34c987;
}
.submitbtn {
  width: 90%;
  max-width: 300px;
  padding: 10px;
  border: 0;
  background-color: #34c987;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 15px;
  transition: background-color 0.2s ease-in-out !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.gosignup {
  width: 90%;
  max-width: 300px;
  padding: 10px;
  border: 0;
  background-color: #f0f0f0;
  color: #333;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 40px;
  transition: background-color 0.2s ease-in-out !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.submitbtn:hover {
  background-color: #06b667;
}
.submitbtn:active {
  background-color: #059152;
}
.content-ul {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}
.content-ul img {
  height: 20px;
  margin-right: 15px;
  opacity: 0.9;
}
.naver,
.kakao,
.google {
  width: 90%;
  max-width: 350px;
  margin: 0 auto;
  border-radius: 6px;
  display: flex;
  color: #555;
  padding: 13px 50px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out !important;
}
.naver {
  margin-top: 50px;
  border: 1px solid #1ec800ce;
}
.kakao {
  border: 1px solid #fee500ce;
}
.google {
  border: 1px solid #4884edce;
}
.naver:hover {
  background-color: #1ec80010;
}
.kakao:hover {
  background-color: #fee50010;
}
.google:hover {
  background-color: #4884ed10;
}

/* footer */
footer {
  position: relative;
  display: block;
  background-color: #333;
  width: 100%;
  height: 300px;
  min-width: 320px;
  margin-top: 120px;
}
footer .inner {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;
  color: #9d9d9d;
}

.footer-title {
  position: relative;
  display: block;
  font-size: 40px;
  text-align: center;
  margin: 0 auto;
  color: #34c987;
  font-weight: 800;
  margin-top: 40px;
}
.sns-icon {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-top: 50px;
}

.sns-icon img {
  width: 35px;
}
.sns-icon img:nth-child(2) {
  margin: 0 30px;
}
.email-number {
  position: relative;
  display: flex;
  width: 400px;
  color: #fff;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  font-weight: 200;
}

.copy {
  position: absolute;
  display: block;
  text-align: center;
  color: #fff;
  font-weight: 100;
  bottom: 45px;
}
.reservation-method-title {
  display: none;
}
.fa-solid,
.fas {
  color: #32c987;
}
/* 헤더 반응형 */
@media all and (max-width: 1000px) {
  .modal{
    display: none;
  }
  header {
    width: 100%;
    height: 60px;
  }
  header .inner {
    display: flex;
    width: 90%;
  }
  #menuToggleBtn {
    margin-top: 5%;
  }
  .logo {
    width: 150px;
  }
  .logo h1 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    line-height: 30px;
    color: #34c987;
  }
  .header-menu {
    display: none;
  }
  .log-in {
    display: none;
  }
  .stepbox {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .mobile-menu-bar {
    position: relative;
    display: block;
    /* top: 10%;
    left: 88%; */
    z-index: 999;
  }
  .nav {
    width: 200px;
    height: 54px;
    background-color: transparent;
  }
  #menuToggleBtn {
    width: 50px;
    /* padding-bottom: 4%; */
    background-color: transparent;
    border: none;
    /* margin-left: 105%; */
    float: right;
  }
  #menuToggleBtn i {
    width: 100%;
    font-size: 30px;
    color: #34c987;
    cursor: pointer;
  }
  #mobile-menu-box {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    position: absolute;
    top: 100%;
    right: -12%;
    display: none;
  }
  #mobile-menu-box li {
    /* margin: 10% 10% 10% 10%; */
    width: 100%;
  }
  #mobile-menu-box li a {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 2%;
    padding: 10%;
    font-size: 20px;
    color: #fff;
  }
  #mobile-menu-box.active {
    display: block;
  }
}
@media all and (max-width: 768px) {
  header .inner {
    width: 100%;
  }
}

@media all and (max-width: 480px) {
  .logo h1 {
    font-size: 25px;
  }
  button i {
    font-size: 28px;
    margin-top: 5%;
  }

  .login-form {
    border: 0;
    box-shadow: none;
  }
  .footer-title {
    font-size: 30px;
  }
  .email-number p {
    white-space: nowrap;
  }
  .email-number {
    position: relative;
    display: flex;
    /* width: 400px; */
    color: #fff;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    font-weight: 200;
    flex-direction: column;
    line-height: 1.5;
  }
  .copy {
    font-size: 13px;
  }
}
@media all and (max-width: 434px) {
  .naver,
  .kakao,
  .google {
    padding: 15px 30px 15px 50px;
  }
}
@media all and (max-width: 409px) {
  .naver,
  .kakao,
  .google {
    padding: 15px 20px 15px 45px;
  }
}
@media all and (max-width: 384px) {
  .naver,
  .kakao,
  .google {
    padding: 15px 15px 15px 33px;
  }
}
@media all and (max-width: 359px) {
  .naver,
  .kakao,
  .google {
    padding: 15px 10px 15px 30px;
    font-size: 15px;
  }
}
@media all and (max-width: 334px) {
  .naver,
  .kakao,
  .google {
    padding: 15px 13px 15px 18px;
  }
}
@media all and (max-width: 330px) {
  #menuToggleBtn i {
    margin-top: 20%;
  }
  #menuToggleBtn {
    margin: 0 auto;
  }
  .nav {
    width: 50px;
  }
}
@media all and (max-width: 320px) {
  #menuToggleBtn i {
    margin-left: 170%;
  }
  .logo h1 {
    float: left;
  }
}
