@charset "utf-8";
/* font-family: "TheJamsil5Bold","Noto Sans KR", sans-serif; */

.inner {
  position: relative;
  width: 100%;
  padding: 0px 25px;
  margin: 0 auto;
  max-width: 1000px;
  height: 100%;
}

button {
  border: none;
  cursor: pointer;
}
input:not([type="checkbox"], [type="radio"]) {
  width: 790px;
  padding: 1%;
  border: 1px solid #ccc;
  border-radius: 10px;
  clear: both;
  margin-top: 20px;
  transition: border 0.2s ease-in-out !important;
}
input:hover,
input:focus {
  border: 1px solid #34c987;
}
input[type="checkbox"],
[type="radio"] {
  cursor: pointer;
  accent-color: #34c987;
}
label {
  display: inline-block;
  width: 150px;
}

/* 헤더 */
header {
  position: fixed;
  display: block;
  width: 100%;
  height: 60px;
  z-index: 9999;
  top: 0;
}
header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
}
.logo {
  width: 160px;
}
.logo h1 {
  font-size: 40px;
  text-align: center;
  line-height: 40px;
  color: #34c987;
}
.header-menu {
  width: 500px;
}
.header-menu ul {
  display: flex;
  justify-content: space-between;
}
.header-menu ul li a {
  transition: color 0.15s ease-in-out !important;
}
.header-menu ul li a:hover {
  color: #34c987;
}
.log-in {
  width: 120px;
}
.log-in ul {
  display: flex;
  justify-content: space-around;
}
.log-in ul li {
  border-right: 1px solid #000;
  padding-right: 4.65px;
}
.log-in ul li:last-child {
  border-right: 0;
}
.log-in ul li a {
  transition: color 0.15s ease-in-out !important;
}
.log-in ul li a:hover {
  color: #34c987;
}

/* 예약 형식 선택하기 */
.buttons {
  position: relative;
  display: block;
  order: 1;
  margin-top: 160px;
  margin-bottom: 90px;
}
.buttons .inner {
  display: flex;
  justify-content: space-between;
}
.buttons .inner button {
  border-radius: 20px;
  font-size: 25px;
  padding: 3% 13%;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  font-family: "Noto Sans KR", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.guardianbtn {
  background-color: #34c987;
  color: #fff;
}
.userbtn {
  background-color: #f0f0f0;
  color: #333;
}
.buttons .inner button:hover {
  background-color: #06b667 !important;
}
.buttons .inner button:active {
  background-color: #059152 !important;
}

/* 주의사항 */
.caution {
  position: relative;
  display: block;
  order: 2;
  padding: 20px 0;
  background-color: #f2f2f2;
  margin-bottom: 90px;
}
.caution .inner p:first-child {
  font-size: 20px;
  font-weight: 700;
  color: #333;
}
.caution .inner p {
  padding: 3px 0;
  line-height: 1.5;
  font-size: 14px;
  color: #333;
}

/* 날짜, 시간 선택 */
.datetime {
  position: relative;
  display: block;
  order: 3;
  width: 100%;
  margin: 0 auto;
  color: #222;
}
.datetime-title {
  position: relative;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 70px;
}
.datetime input {
  width: 310px;
  padding: 9.5px;
}
.date {
  width: 49%;
  float: left;
}
.time {
  width: 49%;
  float: right;
  margin-bottom: 80px;
}

/* 이용 형식 선택 아이콘 */
.reservation-content {
  clear: both;
  position: relative;
  display: block;
  order: 4;
  width: 100%;
  margin: 0 auto;
  color: #222;
}
input[type="checkbox"] {
  margin-right: 10px;
}
.reservation-content img {
  width: auto;
  height: 70px;
  position: relative;
}
.reservation-content-title,
.reservation-content-title-mobile {
  position: relative;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 40px;
  margin-top: 70px;
}
.reservation-content span {
  position: absolute;
  width: auto;
  text-align: center;
  bottom: -30%;
}
.reservation-content-top {
  width: 100%;
  margin: auto;
  display: flex;
  padding: 50px 0px 70px 0px;
  border: 1px solid #ccc;
  border-radius: 30px;
  margin-bottom: 20px;
  justify-content: space-between;
}
.walk {
  width: 33%;
  position: relative;
  display: flex;
  justify-content: center;
}
.walk::after {
  content: "";
  position: absolute;
  right: -11px;
  top: -30px;
  width: 1px;
  height: 150px;
  background-color: #ccc;
}
.walk span {
  left: 43.5%;
}
.walk img {
  opacity: 0.8;
}
.no-bathchair1 {
  width: 33%;
  position: relative;
  display: flex;
  justify-content: center;
}
.no-bathchair1 span {
  left: 43.5%;
}
.no-bathchair1 img {
  opacity: 0.6;
  transition: all 0.2s ease-in-out;
}
.no-bathchair1::after {
  content: "";
  position: absolute;
  right: -11px;
  top: -30px;
  width: 1px;
  height: 150px;
  background-color: #ccc;
}
.yes-bathchair1 {
  width: 33%;
  position: relative;
  display: flex;
  justify-content: center;
}
.yes-bathchair1 span {
  left: 43.5%;
}
.yes-bathchair1 img {
  transition: all 0.2s ease-in-out;
  opacity: 0.6;
}
.reservation-content-bottom {
  width: 100%;
  margin: auto;
  display: flex;
  padding: 50px 0px 70px 0px;
  border: 1px solid #ccc;
  border-radius: 30px;
  justify-content: space-around;
  align-items: center;
}
.drive {
  width: 33%;
  position: relative;
  display: flex;
  justify-content: center;
}
.drive::after {
  content: "";
  position: absolute;
  right: -10px;
  top: -70px;
  width: 1px;
  height: 240px;
  background-color: #ccc;
}
.drive span {
  bottom: -8%;
  left: 43.5%;
}
.drive img {
  opacity: 0.8;
}
.driver {
  width: 33%;
  position: relative;
  display: block;
}
.driver::after {
  content: "";
  position: absolute;
  right: -10px;
  top: -10px;
  width: 1px;
  height: 240px;
  background-color: #ccc;
}
.driver img {
  opacity: 0.6;
  transition: all 0.2s ease-in-out;
}
.driveronly {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.driveronly span {
  left: 40%;
}
.driverandmanager {
  position: relative;
  display: flex;
  justify-content: center;
}
.driverandmanager span {
  left: 20%;
}
.bathchair {
  width: 33%;
  position: relative;
  display: block;
}
.bathchair img {
  opacity: 0.6;
  transition: all 0.2s ease-in-out;
}
.no-bathchair2 {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.no-bathchair2 span {
  left: 43.5%;
}
.yes-bathchair2 {
  position: relative;
  display: flex;
  justify-content: center;
}
.yes-bathchair2 span {
  left: 43.5%;
}

/* 이용 형식 모바일 버전 */
.reservation-content-mobile {
  display: none;
}
.reservation-content-title-mobile {
  width: 170px;
  margin-top: 0px;
  line-height: 1.3;
}
.reservation-content-top-mobile,
.reservation-content-bottom-mobile {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.reservation-content-top-mobile {
  margin-bottom: 20px;
}
.reservation-content-mobile img {
  width: 40px;
  margin-right: 10px;
}
.walk-mobile,
.no-bathchair1-mobile,
.yes-bathchair1-mobile,
.drive-mobile2,
.driveronly-mobile,
.driverandmanager-mobile,
.no-bathchair2-mobile,
.yes-bathchair2-mobile {
  padding: 15px;
}

/* 보호자 정보 */
.guardian-info {
  position: relative;
  display: block;
  order: 5;
  transition: all 0.1s ease-in-out;
  width: 100%;
  margin: 0 auto;
  color: #222;
}
.guardian-info-title {
  position: relative;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 70px;
}

/* 이용자 정보 */
.user-info {
  position: relative;
  display: block;
  order: 6;
  width: 100%;
  margin: 0 auto;
  color: #222;
}
.user-info-title {
  position: relative;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 70px;
}
.female {
  padding-right: 550px;
  margin-top: 25px;
  margin-bottom: 5px;
}

/* 타이틀::after 선 */
.datetime-title::after,
.reservation-content-title::after,
.reservation-content-title-mobile::after,
.guardian-info-title::after,
.user-info-title::after {
  content: "";
  position: absolute;
  height: 4px;
  bottom: -7px;
  left: 0;
  background-color: #34c987;
}
.datetime-title::after {
  width: 208px;
}
.reservation-content-title::after {
  width: 326px;
}
.reservation-content-title-mobile::after {
  width: 170px;
}
.guardian-info-title::after,
.user-info-title::after {
  width: 123px;
}

/* 예약 신청 버튼 */
.reservatebtn {
  position: relative;
  display: block;
  order: 7;
  width: 100%;
  margin-top: 100px;
  padding: 1% 3%;
  background-color: #34c987;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  margin-bottom: 40px;
  color: #fff;
}
.reservatebtn:hover {
  background-color: #06b667 !important;
}
.reservatebtn:active {
  background-color: #059152 !important;
}

/* 반응형 */
@media all and (max-width: 1000px) {
  .inner {
    width: 85%;
  }
}
@media all and (max-width: 1100px) {
  .buttons {
    margin-top: 140px;
    margin-bottom: 70px;
  }
}
@media all and (max-width: 1000px) {
  .buttons .inner button {
    font-size: 20px;
  }
  input:not([type="checkbox"], [type="radio"]) {
    width: 85%;
  }

  .datetime input {
    width: 235px;
  }
  .datetime label {
    width: 150px;
  }
  label {
    width: 10%;
  }
  .walk span,
  .no-bathchair1 span,
  .yes-bathchair1 span,
  .drive span,
  .no-bathchair2 span,
  .yes-bathchair2 span {
    left: 42%;
  }
  .driveronly span {
    left: 38%;
  }
  .driverandmanager span {
    left: 12%;
  }
}
@media all and (max-width: 995px) {
  .walk span,
  .no-bathchair1 span,
  .yes-bathchair1 span,
  .drive span,
  .no-bathchair2 span,
  .yes-bathchair2 span {
    left: 41%;
  }
  .driveronly span {
    left: 38%;
  }
  .driverandmanager span {
    width: 50%;
    left: 27%;
    bottom: -50%;
  }
}
@media all and (max-width: 995px) {
  .datetime-title {
    margin-bottom: 30px;
  }
  .datetime input {
    width: 100%;
    padding: 9.5px;
    margin-top: 10px;
  }
}
@media all and (max-width: 860px) {
  .buttons .inner button {
    font-size: 18px;
    padding: 3% 12%;
  }
  .caution .inner p:first-child {
    font-size: 18px;
  }
  .caution .inner p {
    font-size: 12px;
  }
}
@media all and (max-width: 818px) {
  .driverandmanager span {
    width: 60%;
    left: 25%;
  }
}
@media all and (max-width: 770px) {
  .walk::after,
  .no-bathchair1::after,
  .drive::after,
  .driver::after {
    width: 0px;
  }
}
@media all and (max-width: 749px) {
  .walk span,
  .no-bathchair1 span,
  .yes-bathchair1 span,
  .drive span,
  .no-bathchair2 span,
  .yes-bathchair2 span {
    left: 39.5%;
  }
  .driveronly span {
    left: 33%;
  }
  .driverandmanager span {
    width: 60%;
    left: 25%;
  }
}
@media all and (max-width: 730px) {
  .buttons {
    margin-top: 120px;
    margin-bottom: 50px;
  }
  .buttons .inner button {
    font-size: 18px;
    padding: 3% 10%;
  }
  .driveronly span {
    left: 31%;
  }
}
@media all and (max-width: 691px) {
  .driverandmanager span {
    width: 80%;
    left: 15%;
  }
}
@media all and (max-width: 630px) {
  .buttons .inner button {
    padding: 3% 8%;
  }
}
@media all and (max-width: 600px) {
  .reservation-content {
    display: none;
  }
  .reservation-content-mobile {
    display: block;
  }
  .date {
    margin-bottom: 50px;
  }
}
@media all and (max-width: 540px) {
  .buttons {
    margin-top: 100px;
    margin-bottom: 30px;
  }
  .buttons .inner button {
    padding: 3% 5%;
  }
}
@media all and (max-width: 520px) {
  .buttons .inner button {
    border: 5px;
    padding: 3% 5%;
  }
  .buttons {
    margin-top: 130px;
    margin-bottom: 60px;
  }
  .buttons .inner {
    display: flex;
    flex-direction: column;
  }
  .buttons .inner button {
    padding: 5% 7%;
  }
  .guardianbtn {
    display: block;
    width: 100%;
    margin-bottom: 30px;
  }
  .userbtn {
    display: block;
    width: 100%;
  }
}
@media all and (max-width: 500px) {
  .caution {
    margin-bottom: 0;
  }
  .datetime {
    display: flex;
    flex-direction: column;
  }
  .datetime-title {
    margin-top: 60px;
    margin-bottom: 30px;
  }
  .datetime input {
    width: 100%;
    padding: 9.5px;
    margin-top: 10px;
  }
  .date {
    width: 100%;
    margin-bottom: 20px;
  }
  .time {
    width: 100%;
  }
}
@media all and (max-width: 444px) {
  .reservation-content-title {
    width: 200px;
    line-height: 1.5;
  }
  .reservation-content-title::after {
    width: 170px;
    bottom: -2px;
  }
}
@media all and (max-width: 320px) {
  .buttons .inner button {
    font-size: 16px;
  }
}
