@charset "utf-8";
@font-face {
  font-family: "KorailRoundGothicBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KorailRoundGothicBold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
.inner {
  position: relative;
  padding: 0px 25px;
  margin: 0 auto;
  max-width: 1000px;
  height: 100%;
}

button {
  border: none;
  cursor: pointer;
}
input:not([type="checkbox"], [type="radio"]) {
  width: 790px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  clear: both;
  margin-top: 20px;
  transition: border 0.2s ease-in-out !important;
}
input:hover,
input:focus {
  border: 1px solid #34c987;
}
input[type="checkbox"],
[type="radio"] {
  cursor: pointer;
  accent-color: #34c987;
}
label {
  display: inline-block;
  width: 150px;
}

header {
  position: fixed;
  display: block;
  top: 0;
  height: 60px;
  width: 100%;
  z-index: 9999;
  background-color: #fff;
}
header .inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
}
.logo {
  width: 120px;
}
.logo h1 {
  font-size: 33px;
  font-weight: 700;
  text-align: center;
  font-family: "KorailRoundGothicBold";
  line-height: 30px;
  color: #34c987;
}
.header-menu {
  width: 40%;
}
.header-menu ul {
  display: flex;
  justify-content: space-between;
}
.header-menu ul li a {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}
.header-menu ul li a:hover {
  color: #34c987;
}
.header-menu ul li {
  position: relative;
}
.header-menu ul li::after {
  content: "";
  display: block;
  /* absolute는 너비높이에 영행을 안준다 */
  position: absolute;
  left: 0;
  top: 120%;
  width: 100%;
  height: 2px;
  background: #34c987;
  opacity: 0;
  transition: all 0.2s;
}
.header-menu ul li:hover::after {
  opacity: 1;
}
.log-in {
  width: 90px;
}
.log-in ul {
  display: flex;
  justify-content: space-around;
}
.log-in ul li {
  border-right: 0.0625rem solid #fff;
  padding: 0 9%;
}
.log-in ul li:last-child {
  border-right: 0;
}
.log-in ul li a {
  color: #333;
  font-size: 16px;
  font-weight: 600;
}
.log-in ul li a:hover {
  color: #34c987;
}
.log-in ul li {
  position: relative;
}
.log-in ul li::after {
  content: "";
  display: block;
  /* absolute는 너비높이에 영행을 안준다 */
  position: absolute;
  left: 7px;
  bottom: -4px;
  width: 75%;
  padding-right: 6%;
  height: 2px;
  background: #34c987;
  opacity: 0;
  transition: all 0.2s;
}
.log-in ul li:hover::after {
  opacity: 1;
}
/* 상단베뉴바 스크롤시 바와 글자 색상변경 */
.navbar {
  transition: background-color 0.3s ease; /* Add a smooth transition */
}
.header-menu ul li a.active {
  color: #000;
}
/* Style for the navbar when scrolled */
.navbar.active {
  background-color: #fff; /* Set the color when scrolled */
}
.navbar a {
  color: #fff; /* Set your default text color */
  transition: color 0.3s ease; /* Add a smooth transition */
}

/* Style for the navbar text when scrolled */
.navbar.scrolled a {
  color: #000; /* Set the text color when scrolled */
}
.mobile-menu-bar {
  display: none;
}

/* 예약 형식 선택하기 */
.buttons {
  position: relative;
  display: block;
  order: 1;
  margin-top: 160px;
  margin-bottom: 90px;
}
.buttons .inner {
  display: flex;
  justify-content: space-between;
}
.buttons .inner button {
  border-radius: 20px;
  font-size: 25px;
  padding: 3% 13%;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  font-family: "Noto Sans KR", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.guardianbtn {
  background-color: #34c987;
  color: #fff;
}
.userbtn {
  background-color: #f0f0f0;
  color: #333;
}
.buttons .inner button:hover {
  background-color: #06b667 !important;
}
.buttons .inner button:active {
  background-color: #059152 !important;
}

/* 주의사항 */
.caution {
  position: relative;
  display: block;
  order: 2;
  padding: 20px 0;
  background-color: #f2f2f2;
  margin-bottom: 90px;
}
.caution .inner p:first-child {
  font-size: 20px;
  font-weight: 700;
  color: #333;
}
.caution .inner p {
  padding: 3px 0;
  line-height: 1.5;
  font-size: 14px;
  color: #333;
}

/* 날짜, 시간 선택 */
.datetime {
  position: relative;
  display: block;
  order: 3;
  width: 100%;
  margin: 0 auto;
  color: #222;
}
.datetime-title {
  position: relative;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 70px;
}
.datetime input {
  width: 310px;
  padding: 9.5px;
}
.date {
  width: 49%;
  float: left;
}
.time {
  width: 49%;
  float: right;
  margin-bottom: 50px;
}

/* 이용 형식 선택 아이콘 */
.reservation-content {
  clear: both;
  position: relative;
  display: block;
  order: 4;
  width: 100%;
  margin: 0 auto;
  color: #222;
}
input[type="checkbox"] {
  margin-right: 10px;
}
.reservation-content img {
  width: auto;
  height: 70px;
  position: relative;
}
.reservation-content-title,
.reservation-content-title-mobile {
  position: relative;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 40px;
  margin-top: 70px;
}
.reservation-content span {
  position: absolute;
  width: auto;
  text-align: center;
  bottom: -30%;
}
.reservation-content-top {
  width: 100%;
  margin: auto;
  display: flex;
  padding: 50px 0px 70px 0px;
  border: 1px solid #ccc;
  border-radius: 30px;
  margin-bottom: 20px;
  justify-content: space-between;
}
.walk {
  width: 33%;
  position: relative;
  display: flex;
  justify-content: center;
}
.walk::after {
  content: "";
  position: absolute;
  right: -11px;
  top: -30px;
  width: 1px;
  height: 150px;
  background-color: #ccc;
}
.walk span {
  left: 43.5%;
}
.walk img {
  opacity: 0.8;
}
.no-bathchair1 {
  width: 33%;
  position: relative;
  display: flex;
  justify-content: center;
}
.no-bathchair1 span {
  left: 43.5%;
}
.no-bathchair1 img {
  opacity: 0.6;
  transition: all 0.2s ease-in-out;
}
.no-bathchair1::after {
  content: "";
  position: absolute;
  right: -11px;
  top: -30px;
  width: 1px;
  height: 150px;
  background-color: #ccc;
}
.yes-bathchair1 {
  width: 33%;
  position: relative;
  display: flex;
  justify-content: center;
}
.yes-bathchair1 span {
  left: 43.5%;
}
.yes-bathchair1 img {
  transition: all 0.2s ease-in-out;
  opacity: 0.6;
}
.reservation-content-bottom {
  width: 100%;
  margin: auto;
  display: flex;
  padding: 50px 0px 70px 0px;
  border: 1px solid #ccc;
  border-radius: 30px;
  justify-content: space-around;
  align-items: center;
}
.drive {
  width: 33%;
  position: relative;
  display: flex;
  justify-content: center;
}
.drive::after {
  content: "";
  position: absolute;
  right: -10px;
  top: -70px;
  width: 1px;
  height: 240px;
  background-color: #ccc;
}
.drive span {
  bottom: -8%;
  left: 43.5%;
}
.drive img {
  opacity: 0.8;
}
.driver {
  width: 33%;
  position: relative;
  display: block;
}
.driver::after {
  content: "";
  position: absolute;
  right: -10px;
  top: -10px;
  width: 1px;
  height: 240px;
  background-color: #ccc;
}
.driver img {
  opacity: 0.6;
  transition: all 0.2s ease-in-out;
}
.driveronly {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.driveronly span {
  left: 40%;
}
.driverandmanager {
  position: relative;
  display: flex;
  justify-content: center;
}
.driverandmanager span {
  left: 20%;
}
.bathchair {
  width: 33%;
  position: relative;
  display: block;
}
.bathchair img {
  opacity: 0.6;
  transition: all 0.2s ease-in-out;
}
.no-bathchair2 {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.no-bathchair2 span {
  left: 43.5%;
}
.yes-bathchair2 {
  position: relative;
  display: flex;
  justify-content: center;
}
.yes-bathchair2 span {
  left: 43.5%;
}

/* 이용 형식 모바일 버전 */
.reservation-content-mobile {
  display: none;
}
.reservation-content-title-mobile {
  width: 170px;
  margin-top: 0px;
  line-height: 1.3;
}
.reservation-content-top-mobile,
.reservation-content-bottom-mobile {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.reservation-content-top-mobile {
  margin-bottom: 30px;
}
.reservation-content-mobile img {
  width: 40px;
  margin-right: 10px;
}
.walk-mobile,
.no-bathchair1-mobile,
.yes-bathchair1-mobile,
.drive-mobile2,
.driveronly-mobile,
.driverandmanager-mobile,
.no-bathchair2-mobile,
.yes-bathchair2-mobile {
  padding: 15px 15px 15px 30px;
}
.no-bathchair1-mobile img,
.yes-bathchair1-mobile img,
.driveronly-mobile img,
.driverandmanager-mobile img,
.no-bathchair2-mobile img,
.yes-bathchair2-mobile img {
  opacity: 0.6;
}
.driverandmanager-mobile img {
  width: 55px;
}
.walk-mobile,
.drive-mobile2,
.driverandmanager-mobile {
  border-bottom: 1px solid #ccc;
}

/* 보호자 정보 */
.guardian-info {
  position: relative;
  display: block;
  order: 5;
  transition: all 0.1s ease-in-out;
  width: 100%;
  margin: 0 auto;
  color: #222;
}
.guardian-info-title {
  position: relative;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 70px;
}

/* 이용자 정보 */
.user-info {
  position: relative;
  display: block;
  order: 6;
  width: 100%;
  margin: 0 auto;
  color: #222;
}
.user-info-title {
  position: relative;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 50px;
}
.female {
  padding-right: 550px;
  margin-top: 25px;
  margin-bottom: 5px;
}

/* 타이틀::after 선 */
.datetime-title::after,
.reservation-content-title::after,
.reservation-content-title-mobile::after,
.guardian-info-title::after,
.user-info-title::after {
  content: "";
  position: absolute;
  height: 4px;
  bottom: -7px;
  left: 0;
  background-color: #34c987;
}
.datetime-title::after {
  width: 208px;
}
.reservation-content-title::after {
  width: 326px;
}
.reservation-content-title-mobile::after {
  width: 170px;
}
.guardian-info-title::after,
.user-info-title::after {
  width: 123px;
}

/* 예약 신청 버튼 */
.reservatebtn {
  position: relative;
  display: block;
  order: 7;
  width: 100%;
  margin-top: 80px;
  padding: 13px 3%;
  background-color: #34c987;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  margin-bottom: 40px;
  color: #fff;
}
.reservatebtn:hover {
  background-color: #06b667 !important;
}
.reservatebtn:active {
  background-color: #059152 !important;
}

/* footer */
footer {
  position: relative;
  display: block;
  background-color: #333;
  width: 100%;
  height: 300px;
  min-width: 320px;
  margin-top: 140px;
}
footer .inner {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;
  color: #9d9d9d;
}

.footer-title {
  position: relative;
  display: block;
  font-size: 40px;
  text-align: center;
  margin: 0 auto;
  color: #34c987;
  font-weight: 800;
  margin-top: 40px;
}
.sns-icon {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-top: 50px;
}

.sns-icon img {
  width: 35px;
}
.sns-icon img:nth-child(2) {
  margin: 0 30px;
}
.email-number {
  position: relative;
  display: flex;
  width: 400px;
  color: #fff;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  font-weight: 200;
}

.copy {
  position: absolute;
  display: block;
  text-align: center;
  color: #fff;
  font-weight: 100;
  bottom: 45px;
}
.reservation-method-title {
  display: none;
}
.fa-solid,
.fas {
  color: #32c987;
}

/* 반응형 */
@media all and (max-width: 1000px) {
  .inner {
    width: 85%;
  }
}
@media all and (max-width: 1100px) {
  .buttons {
    margin-top: 140px;
    margin-bottom: 70px;
  }
}
@media all and (max-width: 1000px) {
  .modal {
    display: none;
  }
  header {
    width: 100%;
    height: 60px;
  }
  header .inner {
    display: flex;
    width: 90%;
  }
  #menuToggleBtn {
    margin-top: 5%;
  }
  .logo {
    width: 150px;
  }
  .logo h1 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    line-height: 30px;
    color: #34c987;
  }
  .header-menu {
    display: none;
  }
  .log-in {
    display: none;
  }
  .stepbox {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .mobile-menu-bar {
    position: relative;
    display: block;
    /* top: 10%;
    left: 88%; */
    z-index: 999;
  }
  .nav {
    width: 200px;
    height: 54px;
    background-color: transparent;
  }
  #menuToggleBtn {
    width: 50px;
    /* padding-bottom: 4%; */
    background-color: transparent;
    border: none;
    /* margin-left: 105%; */
    float: right;
  }
  #menuToggleBtn i {
    width: 100%;
    font-size: 30px;
    color: #34c987;
    cursor: pointer;
  }
  #mobile-menu-box {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    position: absolute;
    top: 100%;
    right: -12%;
    display: none;
  }
  #mobile-menu-box li {
    /* margin: 10% 10% 10% 10%; */
    width: 100%;
  }
  #mobile-menu-box li a {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 2%;
    padding: 10%;
    font-size: 20px;
    color: #fff;
  }
  #mobile-menu-box.active {
    display: block;
  }

  .buttons .inner button {
    font-size: 20px;
  }
  input:not([type="checkbox"], [type="radio"]) {
    width: 85%;
  }

  .datetime input {
    width: 235px;
  }
  .datetime label {
    width: 150px;
  }
  label {
    width: 10%;
  }
  .walk span,
  .no-bathchair1 span,
  .yes-bathchair1 span,
  .drive span,
  .no-bathchair2 span,
  .yes-bathchair2 span {
    left: 42%;
  }
  .driveronly span {
    left: 38%;
  }
  .driverandmanager span {
    left: 12%;
  }
}
@media all and (max-width: 995px) {
  .walk span,
  .no-bathchair1 span,
  .yes-bathchair1 span,
  .drive span,
  .no-bathchair2 span,
  .yes-bathchair2 span {
    left: 41%;
  }
  .driveronly span {
    left: 38%;
  }
  .driverandmanager span {
    width: 50%;
    left: 27%;
    bottom: -50%;
  }
}
@media all and (max-width: 995px) {
  .datetime-title {
    margin-bottom: 30px;
  }
  .datetime input {
    width: 100%;
    padding: 9.5px;
    margin-top: 10px;
  }
}
@media all and (max-width: 926px) {
  input:not([type="checkbox"], [type="radio"]) {
    width: 85%;
  }
  .female {
    padding-right: 450px;
  }
  label {
    width: 14%;
  }
}
@media all and (max-width: 860px) {
  .buttons .inner button {
    font-size: 18px;
    padding: 3% 12%;
  }
  .caution .inner p:first-child {
    font-size: 18px;
  }
  .caution .inner p {
    font-size: 12px;
  }
  .female {
    padding-right: 400px;
  }
}
@media all and (max-width: 818px) {
  .driverandmanager span {
    width: 60%;
    left: 25%;
  }
}
@media all and (max-width: 778px) {
  .female {
    padding-right: 370px;
  }
}
@media all and (max-width: 770px) {
  .walk::after,
  .no-bathchair1::after,
  .drive::after,
  .driver::after {
    width: 0px;
  }
}
@media all and (max-width: 768px) {
  header .inner {
    width: 100%;
  }
}

@media all and (max-width: 749px) {
  .walk span,
  .no-bathchair1 span,
  .yes-bathchair1 span,
  .drive span,
  .no-bathchair2 span,
  .yes-bathchair2 span {
    left: 39.5%;
  }
  .driveronly span {
    left: 33%;
  }
  .driverandmanager span {
    width: 60%;
    left: 25%;
  }
}
@media all and (max-width: 730px) {
  .buttons {
    margin-top: 120px;
    margin-bottom: 50px;
  }
  .buttons .inner button {
    font-size: 18px;
    padding: 3% 10%;
  }
  .driveronly span {
    left: 31%;
  }
}
@media all and (max-width: 729px) {
  .female {
    padding-right: 330px;
  }
}
@media all and (max-width: 691px) {
  .driverandmanager span {
    width: 80%;
    left: 15%;
  }
}
@media all and (max-width: 663px) {
  .female {
    padding-right: 260px;
  }
}
@media all and (max-width: 650px) {
  input:not([type="checkbox"], [type="radio"]) {
    width: 81.5%;
  }
  label {
    width: 12%;
    margin-right: 5%;
  }
}
@media all and (max-width: 638px) {
  .female {
    padding-right: 230px;
  }
}
@media all and (max-width: 630px) {
  .buttons .inner button {
    padding: 3% 8%;
  }
}
@media all and (max-width: 600px) {
  .reservation-content {
    display: none;
  }
  .reservation-content-mobile {
    display: block;
  }
  .date {
    margin-bottom: 50px;
  }
}
@media all and (max-width: 580px) {
  .female {
    padding-right: 200px;
  }
}
@media all and (max-width: 540px) {
  .buttons {
    margin-top: 100px;
    margin-bottom: 30px;
  }
  .buttons .inner button {
    padding: 3% 5%;
  }
}
@media all and (max-width: 530px) {
  input:not([type="checkbox"], [type="radio"]) {
    width: 80%;
  }
  label {
    width: 12%;
    margin-right: 5.5%;
  }
  .female {
    padding-right: 170px;
  }
}
@media all and (max-width: 522px) {
  .female {
    padding-right: 170px;
  }
}
@media all and (max-width: 520px) {
  .buttons .inner button {
    border: 5px;
    padding: 3% 5%;
  }
  .buttons {
    margin-top: 130px;
    margin-bottom: 60px;
  }
  .buttons .inner {
    display: flex;
    flex-direction: column;
  }
  .buttons .inner button {
    padding: 5% 7%;
  }
  .guardianbtn {
    display: block;
    width: 100%;
    margin-bottom: 30px;
  }
  .userbtn {
    display: block;
    width: 100%;
  }
}
@media all and (max-width: 500px) {
  .caution {
    margin-bottom: 0;
  }
  .datetime {
    display: flex;
    flex-direction: column;
  }
  .datetime-title {
    margin-top: 80px;
    margin-bottom: 30px;
  }
  .datetime input {
    width: 100%;
    padding: 9.5px;
    margin-top: 10px;
  }
  .date {
    width: 100%;
    margin-bottom: 20px;
  }
  .time {
    width: 100%;
  }
  input:not([type="checkbox"], [type="radio"]) {
    width: 80%;
  }
  label {
    width: 12%;
    margin-right: 5.5%;
  }
}
@media all and (max-width: 492px) {
  input:not([type="checkbox"], [type="radio"]) {
    width: 80%;
  }
  label {
    width: 12%;
    margin-right: 5.5%;
  }
}
@media all and (max-width: 480px) {
  .logo h1 {
    font-size: 25px;
  }
  button i {
    font-size: 28px;
    margin-top: 5%;
  }

  .footer-title {
    font-size: 30px;
  }
  .email-number p {
    white-space: nowrap;
  }
  .email-number {
    position: relative;
    display: flex;
    /* width: 400px; */
    color: #fff;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    font-weight: 200;
    flex-direction: column;
    line-height: 1.5;
  }
  .copy {
    font-size: 13px;
  }
}
@media all and (max-width: 476px) {
  .driverandmanager-mobile img {
    margin-bottom: 15px;
  }
  input:not([type="checkbox"], [type="radio"]) {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  #male {
    margin-left: 20px;
  }
  .female {
    padding-right: 130px;
    margin-top: 0;
    margin-bottom: 30px;
  }
  .reservatebtn {
    margin-top: 60px;
  }
}
@media all and (max-width: 444px) {
  .reservation-content-title {
    width: 200px;
    line-height: 1.5;
  }
  .reservation-content-title::after {
    width: 170px;
    bottom: -2px;
  }
}
@media all and (max-width: 435px) {
  .female {
    padding-right: 110px;
  }
}
@media all and (max-width: 395px) {
  .female {
    padding-right: 90px;
  }
}
@media all and (max-width: 382px) {
  #male {
    margin-left: 30px;
  }
  .female {
    padding-right: 80px;
  }
}
@media all and (max-width: 356px) {
  .female {
    padding-right: 50px;
  }
}
@media all and (max-width: 330px) {
  #menuToggleBtn i {
    margin-top: 20%;
  }
  #menuToggleBtn {
    margin: 0 auto;
  }
  .nav {
    width: 50px;
  }
}

@media all and (max-width: 320px) {
  #menuToggleBtn i {
    margin-left: 170%;
  }
  .logo h1 {
    float: left;
  }

  .buttons .inner button {
    font-size: 16px;
  }
}
