@charset "utf-8";
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.inner {
  position: relative;
  width: 100%;
  padding: 0px 25px;
  margin: 0 auto;
  max-width: 1000px !important;
  height: 100%;
}

/* 헤더 */
header {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 60px;
  z-index: 9999;
  background-color: #fff;
}
header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px !important;
}
.logo {
  width: 160px;
}
.logo h1 {
  font-size: 40px;
  text-align: center;
  line-height: 40px;
  color: #34c987;
}
.header-menu {
  width: 500px;
}
.header-menu ul {
  display: flex;
  justify-content: space-between;
}
.header-menu ul li a {
  font-weight: 600;
}
.header-menu ul li a:hover {
  color: #34c987;
}
.log-in {
  width: 120px;
}
.log-in ul {
  display: flex;
  justify-content: space-around;
}
.log-in ul li {
  border-right: 1px solid #000;
  padding-right: 5px;
}
.log-in ul li:last-child {
  border-right: 0;
}
.log-in ul li a:hover {
  color: #34c987;
}

/* 제목 */
.title {
  position: relative;
  display: block;
  margin-top: 200px;
  font-size: 25px;
  font-weight: 700;
  color: #333;
  line-height: 1.2;
}

.sub-title {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 17%;
  margin-top: 50px;
}

/* 아코디언 */
.active2 {
  text-decoration-thickness: 3px;
  color: #34c987;
  text-decoration-line: underline;
}
.active1 {
  font-weight: 700;
  color: #34c987 !important;
}
.accordion {
  width: 100%;
  margin: 30px auto 20px;
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.accordion .link {
  cursor: pointer;
  display: block;
  padding: 25px 15px 25px 42px;
  color: #4d4d4d;
  font-size: 14px;
  font-weight: 400;
  border-bottom: 1px solid #ccc;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li:last-child .link {
  border-bottom: 0;
}

.accordion li i {
  position: absolute;
  top: 23px;
  left: 12px;
  font-size: 18px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
  right: 12px;
  left: auto;
  font-size: 16px;
}

.accordion li.open .link {
  color: #000000;
  font-weight: 500;
}

.accordion li.open i {
  color: #b63b4d;
}

.accordion li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.submenu {
  display: none;
  background: #ffffff;
  font-size: 14px;
}

.submenu li {
  border-bottom: 1px solid #4b4a5e;
}

.submenu li {
  display: block;
  text-decoration: none;
  color: #333;
  line-height: 1.3;
  padding: 12px;
  padding-left: 42px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.submenu a:hover {
  background: #b63b4d;
  color: #fff;
}

/* 이용후기 */
.user-review {
  display: none;
}
.left-info {
  position: relative;
  display: block;
  width: 70%;
}
.top-review-txt {
  position: relative;
  display: block;
  margin: 0 auto;
  padding-top: 50px;
}
.top-review-txt p {
  font-size: 25px;
  color: #333;
}
.number {
  position: relative;
  display: block;
  margin-bottom: 10px;
}
.top-review-txt p span {
  font-size: 15px;
  color: #777777;
}
.top-review-txt .all {
  position: relative;
  display: block;
  font-size: 13px;
  color: #333;
  padding: 0 0 30px 0;
  border-bottom: 1px solid #ccc;
}

.review-info {
  position: relative;
  display: flex;
  border-bottom: 1px solid#ccc;
}
.review-info-title {
  position: relative;
  display: block;
  padding: 30px 0 10px 0;
  font-weight: 500;
}
.fa-star {
  font-size: 13px;
  float: left;
}
.top-star {
  font-size: 20px;
  float: none;
}
.score {
  font-size: 13px;
}
.manager {
  position: relative;
  display: block;
  padding-top: 20px;
  font-size: 13px;
  color: #555;
}
.service {
  position: relative;
  display: block;
  padding-top: 3px;
  font-size: 13px;
  color: #555;
}
.date {
  position: relative;
  display: block;
  font-size: 13px;
  color: #555;
  padding-top: 10px;
  padding-bottom: 30px;
}
.review-txt {
  position: relative;
  display: block;
  color: #333;
  padding-top: 20px;
  font-size: 15px;
  line-height: 1.3;
}

.right-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  margin-left: 20px;
}
.announcement {
  margin-right: 15px;
}

/*  게시글 작성 폼 */
.write-btn {
  position: relative;
  display: block;
  color: #fff;
  width: 20%;
  margin-top: 20px;
  margin-left: 80%;
  /* margin-right: 1%; */
  padding: 13px 0;
  background-color: #32c876;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
}
.post-form {
  display: none;
}
.addPostBtn {
  display: none;
}
#postContent {
  padding: 100px;
}
fieldset,
label {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.post-form {
  margin-bottom: 20px;
  margin-top: 30px;
  padding: 40px;
}
label {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 10px;
}
input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
  background-color: #34c876;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: auto;
  display: block;
  margin-top: 5px;
}
button:hover {
  background-color: #34c876;
}
#postImage {
  margin-right: 170px;
}
#postList {
  /* height: 800px; */
  overflow-y: auto;
  list-style: none;
}
.post {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.post-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}
.post-details img {
  max-width: 100px;
  min-width: 100px;
  margin-left: 20px;
}

/* footer */
footer {
  position: relative;
  display: block;
  background-color: #333;
  width: 100%;
  height: 300px;
  min-width: 320px;
  margin-top: 200px;
}
footer .inner {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;
  color: #9d9d9d;
}

.footer-title {
  position: relative;
  display: block;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  color: #34c987;
  font-weight: 800;
  margin-top: 40px;
}
.sns-icon {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-top: 50px;
}

.sns-icon img {
  width: 35px;
}
.sns-icon img:nth-child(2) {
  margin: 0 30px;
}
.email-number {
  position: relative;
  display: flex;
  width: 40%;
  color: #fff;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  font-weight: 200;
}

.copy {
  position: absolute;
  display: block;
  text-align: center;
  color: #fff;
  font-weight: 100;
  bottom: 20px;
}
.reservation-method-title {
  display: none;
}
