@charset "utf-8";
.inner {
  position: relative;
  width: 100%;
  padding: 0px 25px;
  margin: 0 auto;
  max-width: 1000px !important;
  height: 100%;
}
/* 헤더 */
header {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 60px;
  z-index: 9999;
}
header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px !important;
}
.logo {
  width: 160px;
}
.logo h1 {
  font-size: 40px;
  text-align: center;
  line-height: 40px;
  color: #34c987;
}
.header-menu {
  width: 500px;
}
.header-menu ul {
  display: flex;
  justify-content: space-between;
}
.header-menu ul li a:hover {
  color: #34c987;
}
.log-in {
  width: 120px;
}
.log-in ul {
  display: flex;
  justify-content: space-around;
}
.log-in ul li {
  border-right: 1px solid #000;
  padding-right: 5px;
}
.log-in ul li:last-child {
  border-right: 0;
}
.log-in ul li a:hover {
  color: #34c987;
}

/* 제목 */
.title {
  position: relative;
  display: block;
  margin-top: 200px;
  font-size: 25px;
  font-weight: 700;
  color: #333;
  line-height: 1.2;
}

.sub-title {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 17%;
  margin-top: 50px;
}
.sub-title .announcement a {
  font-weight: 700;
  color: #34c987;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
}

/* 아코디언 */
.accordion {
  width: 100%;
  margin: 30px auto 20px;
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.accordion .link {
  cursor: pointer;
  display: block;
  padding: 25px 15px 25px 42px;
  color: #4d4d4d;
  font-size: 14px;
  font-weight: 400;
  border-bottom: 1px solid #ccc;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li:last-child .link {
  border-bottom: 0;
}

.accordion li i {
  position: absolute;
  top: 23px;
  left: 12px;
  font-size: 18px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
  right: 12px;
  left: auto;
  font-size: 16px;
}

.accordion li.open .link {
  color: #000000;
  font-weight: 500;
}

.accordion li.open i {
  color: #b63b4d;
}

.accordion li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.submenu {
  display: none;
  background: #ffffff;
  font-size: 14px;
}

.submenu li {
  border-bottom: 1px solid #4b4a5e;
}

.submenu li {
  display: block;
  text-decoration: none;
  color: #d9d9d9;
  padding: 12px;
  padding-left: 42px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.submenu a:hover {
  background: #b63b4d;
  color: #fff;
}
