@charset "utf-8";
@font-face {
  font-family: 'KorailRoundGothicBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KorailRoundGothicBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
.inner {
  position: relative;
  padding: 0px 25px;
  margin: 0 auto;
  height: 100%;
  width: 70%;
}

body {
  overflow: hidden;
}

/* 헤더 */
header {
  position: fixed;
  top: 0;
  display: block;
  height: 60px;
  width: 100%;
  z-index: 9999;
  background-color: #fff;
}
header .inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 120px;
}
.logo h1 {
  font-size: 33px;
  font-weight: 700;
  text-align: center;
  font-family: 'KorailRoundGothicBold';
  line-height: 30px;
  color: #34c987;
}
.header-menu {
  width: 40%;
}
.header-menu ul {
  display: flex;
  justify-content: space-between;
}
.header-menu ul li a {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}
.header-menu ul li a:hover {
  color: #34c987;
}
.header-menu ul li {
  position: relative;
}
.header-menu ul li::after {
  content: "";
  display: block;
  /* absolute는 너비높이에 영행을 안준다 */
  position: absolute;
  left: 0;
  top: 120%;
  width: 100%;
  height: 2px;
  background: #34c987;
  opacity: 0;
  transition: all 0.2s;
}
.header-menu ul li:hover::after {
  opacity: 1;
}
.log-in {
  width: 90px;
}
.log-in ul {
  display: flex;
  justify-content: space-around;
}
.log-in ul li {
  border-right: 0.0625rem solid #fff;
  padding: 0 9%;
}
.log-in ul li:last-child {
  border-right: 0;
}
.log-in ul li a {
  color: #333;
  font-size: 16px;
  font-weight: 600;
}
.log-in ul li a:hover {
  color: #34c987;
}
.log-in ul li {
  position: relative;
}
.log-in ul li::after {
  content: "";
  display: block;
  /* absolute는 너비높이에 영행을 안준다 */
  position: absolute;
  left: 7px;
  bottom: -4px;
  width: 75%;
  padding-right: 6%;
  height: 2px;
  background: #34c987;
  opacity: 0;
  transition: all 0.2s;
}
.log-in ul li:hover::after {
  opacity: 1;
}
/* 상단베뉴바 스크롤시 바와 글자 색상변경 */
.navbar {
  transition: background-color 0.3s ease; /* Add a smooth transition */
}
.header-menu ul li a.active {
  color: #000;
}
/* Style for the navbar when scrolled */
.navbar.active {
  background-color: #fff; /* Set the color when scrolled */
}
.navbar a {
  color: #fff; /* Set your default text color */
  transition: color 0.3s ease; /* Add a smooth transition */
}

/* Style for the navbar text when scrolled */
.navbar.scrolled a {
  color: #000; /* Set the text color when scrolled */
}
.navbar_burger{
  display: none;
}
.navbar_menu{
  display: none;
}
/* 전체 컨텐츠 */
.contents {
  width: 100%;
  margin: auto;
  margin-top: 150px;
}
.contents .inner {
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
  color: #333;
}

/* 회원가입 */
.contents img {
  height: 50px;
  opacity: 0.8;
}
.content-ul {
  margin-top: 70px;
  display: flex;
}
.content-ul li {
  border: 1px solid #ccc;
  border-radius: 30px;
  width: 350px;
  height: 150px;
  margin: auto;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  transition: border 0.2s ease-in-out !important;
}
.content-ul li:hover {
  border: 2px solid #34c987;
}
.content-ul li a {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.content-ul li p {
  width: 200px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #333;
}
.content-ul li span {
  width: 180px;
  display: inline-block;
  line-height: 1.3;
  font-size: 15px;
}

/* footer */
footer {
  position: fixed;
  bottom: 0;
  display: block;
  background-color: #333;
  width: 100%;
  height: 300px;
  min-width: 320px;
}
footer .inner {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;
  color: #9d9d9d;
}

.footer-title {
  position: relative;
  display: block;
  font-size: 40px;
  text-align: center;
  margin: 0 auto;
  color: #34c987;
  font-weight: 800;
  margin-top: 40px;
}
.sns-icon {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-top: 50px;
}

.sns-icon img {
  width: 35px;
}
.sns-icon img:nth-child(2) {
  margin: 0 30px;
}
.email-number {
  position: relative;
  display: flex;
  width: 400px;
  color: #fff;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  font-weight: 200;
}

.copy {
  position: absolute;
  display: block;
  text-align: center;
  color: #fff;
  font-weight: 100;
  bottom: 45px;
}
.reservation-method-title {
  display: none;
}
.fa-solid,
.fas {
  color: #32c987;
}

@media all and (max-width: 1630px) {
  .inner {
    width: 80%;
  }
}
@media all and (max-width: 1530px) {
  .inner {
    width: 85%;
  }
}
@media all and (max-width: 1400px) {
  .inner {
    width: 90%;
  }
}
@media all and (max-width: 1300px) {
  .inner {
    width: 95%;
  }
}
@media all and (max-width: 1220px) {
  .inner {
    width: 100%;
  }
}
@media all and (max-width: 1150px) {
  .content-ul {
    margin-top: 0px;
    flex-direction: column;
  }
  footer {
    position: relative;
    margin-top: 50px;
  }
}
/* 헤더 반응형 */
@media all and (max-width: 1000px) {
   /* 모바일메메뉴 */
.navbar_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s ease;

}
.navbar_burger {
  position: fixed;
  top: 0.3rem;
  right: 1rem;
  cursor: pointer;
  color: #34c987;
  display: block;
}
.navbar_burger_back {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
  color: #fff;
}
.navbar_menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #0e0e0e;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transform: translateX(100%);
  z-index: 999;
  color: #000;
  transition: transform 0.3s ease;
}
.navbar_menu a {
  position: relative;
  color: #ffffff!important;
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-bottom: 3rem;
  text-decoration: none;
}
.navbar_menu.active {
  transform: translateX(0);
}
.navbar_overlay.active {
  opacity: 1;
  pointer-events: auto;
}
  .modal{
    display: none;
  }
  header {
    width: 100%;
    height: 60px;
  }
  header .inner {
    display: flex;
    width: 90%;
  }
  .logo {
    width: 150px;
  }
  .logo h1 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    line-height: 30px;
    color: #34c987;
  }
  .header-menu {
    display: none;
  }
  .log-in {
    display: none;
  }
}
@media all and (max-width: 768px) {
  header .inner {
    width: 100%;
  }
}

@media all and (max-width: 480px) {
  .navbar_menu{
    width: 100%;
  }
  .navbar_menu a{
    text-align: center;
    width: 100%;
    padding: 1rem 0;
    margin: 1rem 0;
  }
  .logo h1 {
    font-size: 25px;
  }
  button i {
    font-size: 28px;
    margin-top: 5%;
  }

  .footer-title {
    font-size: 30px;
  }
  .email-number p {
    white-space: nowrap;
  }
  .email-number {
    position: relative;
    display: flex;
    /* width: 400px; */
    color: #fff;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    font-weight: 200;
    flex-direction: column;
    line-height: 1.5;
  }
  .copy {
    font-size: 13px;
  }
}
@media all and (max-width: 430px) {
  .content-ul li {
    width: 330px;
    height: 130px;
    margin-bottom: 40px;
  }
}
@media all and (max-width: 400px) {
  .content-ul li {
    width: 300px;
    margin-bottom: 30px;
  }
  .content-ul li p,
  .content-ul li a,
  .content-ul li a span {
    width: 160px;
  }
  .content-ul li p {
    margin-bottom: 10px;
  }
}
@media all and (max-width: 350px) {
  .content-ul li {
    width: 260px;
  }
  .content-ul li p,
  .content-ul li a,
  .content-ul li a span {
    width: 140px;
  }
  .content-ul li p {
    margin-bottom: 10px;
  }
}
@media all and (max-width: 320px) {
  .logo h1 {
    float: left;
  }
}