@charset "utf-8";

body {
  overflow: hidden;
}

/* 헤더 */
header {
  position: fixed;
  display: block;
  width: 100%;
  height: 60px;
  z-index: 9999;
  top: 0;
  background-color: #fff;
}
header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
}
.logo {
  width: 160px;
}
.logo h1 {
  font-size: 40px;
  text-align: center;
  line-height: 40px;
  color: #34c987;
}
.header-menu {
  width: 500px;
}
.header-menu ul {
  display: flex;
  justify-content: space-between;
}
.header-menu ul li a {
  transition: color 0.15s ease-in-out !important;
}
.header-menu ul li a:hover {
  color: #34c987;
}
.log-in {
  width: 120px;
}
.log-in ul {
  display: flex;
  justify-content: space-around;
}
.log-in ul li {
  border-right: 1px solid #000;
  padding-right: 4.65px;
}
.log-in ul li:last-child {
  border-right: 0;
}
.log-in ul li a {
  transition: color 0.15s ease-in-out !important;
}
.log-in ul li a:hover {
  color: #34c987;
}

/* 전체 컨텐츠 */
.contents {
  width: 80%;
  margin: auto;
  margin-top: 150px;
}
.contents .inner {
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
  color: #333;
}

/* 회원가입 */
.contents img {
  height: 50px;
  opacity: 0.8;
}
.content-ul {
  margin-top: 70px;
  display: flex;
}
.content-ul li {
  border: 1px solid #ccc;
  border-radius: 30px;
  width: 350px;
  height: 150px;
  margin: auto;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  transition: border 0.2s ease-in-out !important;
}
.content-ul li:hover {
  border: 2px solid #34c987;
}
.content-ul li a {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.content-ul li p {
  width: 200px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #333;
}
.content-ul li span {
  width: 180px !important;
  display: inline-block;
  line-height: 1.3;
  font-size: 15px;
}
